[2015-02-03 01:07] sckott opened #1 "Explore halt to throw good error info"
http://myronmars.to/n/dev-blog/2012/01/why-sinatras-halt-is-awesome

[2015-02-03 03:29] sckott opened #2 "Which tables need api routes?"
@cboettig curious what tables you think would be good to have routes on?  or are you mostly interested in replicating what the package already does, and the routes are secondary?

[2015-02-03 03:31] sckott opened #3 "Caching"
down the road, would be great to have caching, e.g. w/ redis https://rubygems.org/gems/sinatra-redis

[2015-02-03 03:48] cboettig commented on #2
The ones in the package that use HTML scraping are all ones that have been added on request, so they would be good things to support (will have to check which tables they correspond to). Looks like those functions are:
- [x] ecology_from_html.R
- [ ] enviro-climate-range.R
- [x] fao_area.R
- [x] fooditems.R
- [x] getPredators.R
- [x] length-weight-table.R
- [x] metabolism.R

[2015-02-03 06:57] sckott commented on #3
http://www.railsillustrated.com/blazing-fast-sinatra-with-memcached.html

[2015-02-03 07:08] sckott opened #4 "compression"
http://nginx.org/en/docs/http/ngx_http_gzip_module.html

[2015-02-03 15:49] sckott opened #5 "Documentation"
Possibly RAML - useful = ? https://github.com/coub/raml_ruby

Swagger looks easiest, trying that

[2015-02-03 18:55] sckott commented on #2
added faoareas in ddce1c2d47a8611c6f6dfac8392ad694ecf83d07

[2015-02-03 18:56] sckott commented on #2
@cboettig Did  you want API endpts for each of those above in the list?  Or did you actually mean access to those tables, then you'd take care of combining data on the R side?

[2015-02-03 19:00] sckott opened #6 "More recent fishbase dump?"
@cboettig  At some point we should get a more recent dump to make sure we aren't developing against old table/field names ?

[2015-02-03 19:06] cboettig commented on #6
Apparently these don't change...

On Tue, Feb 3, 2015, 11:00 AM Scott Chamberlain notifications@github.com
wrote:

[2015-02-03 19:11] sckott commented on #6
ah, okay

[2015-02-03 19:11] #6 closed

[2015-02-03 19:12] cboettig commented on #2
Right, I was just thinking access to the relevant tables and we would
combine on the R side.  Less efficient that way but also lighter on the
server & just more familiar.  We can then revisit doing more preprocessing
later to reduce the number of api calls needed & avoid as much joining in R.

On Tue, Feb 3, 2015, 10:56 AM Scott Chamberlain notifications@github.com
wrote:

[2015-02-03 19:23] sckott commented on #2
@cboettig Okay, I'll comment out those methods that do joins, etc. and just give access to the tables needed

[2015-02-03 20:07] sckott opened #7 "Prevent SQL injection"

[2015-02-03 20:19] karthik commented on #7
You could regexp out anything but the input, but at this point I'm sure someone has written a Ruby gem that will sanitize input.

[2015-02-03 20:33] sckott commented on #7
right, seems like the best practice is to use _prepared statements_ e.g. http://stackoverflow.com/questions/2258781/preventing-sql-injection-good-ruby-method - seems pretty simple

[2015-02-04 18:01] sckott opened #8 "Query-able fields?"
@cboettig what fields should users be allowed to query?  since you're more familiar with the data...

Right now, I've set it up so that users can query on any field. Do you think this is best?  Or do you think only certain fields should be exposed to query on?  If we do limit to only some fields can be queried on that does make it a little easier to solve https://github.com/ropensci/fishbaseapi/is

[2015-02-04 19:00] cboettig opened #9 "get SpecCode from species name (or higher taxonomy)"
@sckott Do we have a way to get the fishbase SpecCode for a species, given the species name (or similarly, a list of all SpecCodes corresponding to species matching a queried genus, family, etc?)

[2015-02-04 19:02] sckott opened #10 "Error catching"
- [x] Fields that do not exist/spelled wrong - seems like most APIs I've played with silently ignore fields that don't exist - if we do this, we have to compare to fields that exist in a table, and drop those that don't match...
- [x] path doesn't exist (e.g., user calls `/swisscheese`) -> throw 404

[2015-02-04 19:15] sckott commented on #9
@cboettig three things there i think
- [x] get SpecCode for a species, given species name
- [x] get list of all SpecCode's corresponding to species matching a queried genus
- [x] get list of all SpecCode's corresponding to species matching a queried family, etc

For the first two, yes:

curl 'http://localhost:4567/species/?genus=Abalistes&species=stellatus&fields=speccode'
curl 'http://localhost:4

[2015-02-04 19:18] cboettig commented on #9
hmm.  Sounds like we might be best off if we computed a table that had columns of species code, species, genus, family, etc. Then I think it would be one query to return all species codes matching a particular query? (Maybe also for a query that gives multiple species at once?)  Or is that crazy?

[2015-02-04 23:34] sckott opened #11 "Pagination"
something to start with

https://github.com/mislav/will_paginate
https://github.com/deepfryed/sinatra-paginate

in SQL we can simply query for `... limit 10 offset 20` to get certain range of results,

[2015-02-05 00:35] sckott opened #12 "Taxonomy endpoint"
to get taxonomic data only,

[2015-02-05 01:07] sckott commented on #3
memcached ruby gem `dalli` https://github.com/mperham/dalli

[2015-02-05 01:15] sckott opened #13 "Synonyms"
We now have the `/taxa` endpoint, but one thing that's left out is the `synonyms` table and its data. Perhaps that should be a separate endpoint ? @cboettig

[2015-02-05 06:31] cboettig commented on #13
good point. Given that there will be multiple synonyms per species, maybe this should be a separate endpoint.  Then a species query can hit this first to resolve from a synonym to the preferred name.

[2015-02-05 15:45] sckott commented on #3
http://stackoverflow.com/questions/8486596/best-way-to-cache-a-response-in-sinatra

[2015-02-05 17:16] sckott commented on #5
Started to play with both swagger and apiary,

apiary docs started here: http://docs.fishbaseapi.apiary.io/# ping @cboettig

[2015-02-05 17:18] sckott commented on #13
cool, sounds good

[2015-02-05 17:18] cboettig commented on #5
Apiary is looking great!  I remember being annoyed at some swagger docs
recently, but forget exactly why.  nice work.

On Thu Feb 05 2015 at 9:16:18 AM Scott Chamberlain notifications@github.com
wrote:

[2015-02-05 17:23] sckott commented on #5
i do like how swagger is machine readable json, i tried that, but apiary markdown format specification would be easier for non-techy types to maintain in the long term, and it looks nice

[2015-02-05 18:58] sckott commented on #13
closed in 906f6a894174021d4a17e597e4292e836268f4ee

[2015-02-05 18:58] #13 closed

[2015-02-05 19:47] cboettig commented on #2
Compare this list to the list of tables shown on each species summary page: https://github.com/ropensci/rfishbase/issues/36

As usual, the map between manual, the website, and the SQL tables is hardly 1:1:1, but anyway...

Here's a quick overview of the main tables as extracted from the [FishBase Manual](http://www.fishbase.org/manual/english/contents.htm).

**Key:**
- [x] means we've implemented

[2015-02-05 19:54] cboettig commented on #2
Not suggesting that we need to implement all of them, but just putting this down here as a placeholder to help group and prioritize, as well as track what we already have.  I'll try and update and annotate the above list to highlight things we want to prioritize or ignore, etc.

The data is pretty messy so the R implementation to return some clean tidy data.frames is always going to lag substantia

[2015-02-05 19:54] sckott commented on #2
@cboettig nice, those table urls don't seem to resolve for me :(

And do the check marks mean that we should have api routes for each table?

[2015-02-05 20:01] cboettig commented on #2
@sckott heh, welcome to FishBase.  Just keep trying to refresh and I think most of the links should work. good illustration of why scraping the website was a terrible idea.

I've started to check off ones I think we have, and add `**`'s to the ones I think we should prioritize.  (Clearly I should be making better use of Github emoji things here -- edits welcome!)

[2015-02-05 23:14] sckott commented on #2
okay, thx, makes sense

[2015-02-06 18:56] cboettig opened #14 "Add a function to ping / reconnect the mysql server?"
Hey @sckott ,

I'm having some stability problems with the mysql server still.  It seems that often it is sufficient to ping the server to re-establish the connection. Could we add an endpoint that would just ping the server? (Would at least be handy for debugging).  Might need to explore some more tricks to babysit the mysql server too.

[2015-02-06 18:58] sckott commented on #14
@cboettig hmmm, does `/heartbeat` work?  weird, i've not had that problem running locally, are we sure it's a mysql server problem?

[2015-02-06 19:25] cboettig commented on #14
@sckott `/heartbeat` will execute successfully whether or not the mysql connection is live, as long as sinatra / webrick is still up.

Right, I don't think you'll get this error because when you're running locally your connecting to mysql over the default unix socket, `/var/run/mysqld/mysqld.sock`, rather than over a network `tcp`. (See the extra lines I have at the top of `api.rb`).  Even if we w

[2015-02-06 22:41] cboettig opened #15 "Use stats/logging"
Just thinking it might be valuable to be able to compute some basic metrics of use for the FishBase team to monitor traffic; e.g. which endpoints are getting hit, how often, perhaps from what geographic areas.  Have you looked into this?

[2015-02-06 23:33] sckott commented on #14
@cboettig are we good on this now? solved?

[2015-02-06 23:33] sckott commented on #12
we may want to do this join to create a new table beforehand, and not on each call to this route, would need to do this on each time the DB is updated

[2015-02-06 23:41] sckott opened #16 "testing"
http://www.sinatrarb.com/intro.html#Testing

[2015-02-06 23:43] sckott commented on #15
@cboettig not yet, looks like sinatra has a built in logging tool http://www.sinatrarb.com/intro.html#Logging - not sure yet how to access those, maybe storing them in something like logstash http://logstash.net/docs/1.4.2/

[2015-02-06 23:48] cboettig commented on #12
My current solution is to query this without a species or genus, which returns the entire joined table.  The results of this query are cached by R the first time this is called, and there-after loaded from cache; so a given session shouldn't hit the endpoint too often.

The cached solution is handy in any event, because most other endpoints other than `/species` need a SpecCode instead of a specie

[2015-02-06 23:49] cboettig commented on #14
I think so. we'll see if the server is still up tomorrow, but we can close for now.

[2015-02-06 23:49] #14 closed

[2015-02-07 00:45] sckott commented on #8
@cboettig pinging you again so we can get this done - i think we should go with limiting what fields can be queried on, agreed?  then add more as needed

[2015-02-07 00:48] sckott commented on #12
okay, sounds good

ps. once we have caching, this shouldn't be such a big deal as with two requests that are the same, the 2nd and all following should just serve from the key-value store

[2015-02-07 00:48] #12 closed

[2015-02-07 00:49] cboettig commented on #8
Okay, I think that makes sense; I'll need to go through the functions I have so far and see what fields we query on currently; it's a relatively tiny subset though (usually SpecCode or Species & Genus).

[2015-02-07 00:50] sckott commented on #8
okay, cool, yeah, I don't want to break anything

[2015-02-07 00:52] cboettig commented on #12
Right, but the table isn't tiny and some connections may be slow, so for a call that we might hit for every species in the list it still makes sense to do this locally I think.  But caching will definitely help on the server-side, particularly if the server gets multiple requests at the same time.

[2015-02-07 00:54] sckott commented on #12
sounds good

[2015-02-07 17:19] sckott commented on #3
@cboettig Okay, i implemented caching in one route locally, and it seems to work - using redis.

Is redis easy enough to setup with docker?  - see branch [caching](https://github.com/ropensci/fishbaseapi/blob/caching/api.rb#L273-L303)

[2015-02-07 18:52] cboettig commented on #3
Yup, should be. Will just connect over TCP like mysql I think

[2015-02-07 19:26] sckott commented on #3
Okay, should I go ahead and implement across all routes and merge to master?

[2015-02-07 21:09] cboettig commented on #3
lemme just clone the caching branch first and add the appropriate host/port
info to the api file there.  Once I'm sure I can deploy with redis on
docker we can merge.  Should just need a moment to test the docker config
though, so feel free to go ahead and implement across all routes

On Sat Feb 07 2015 at 11:26:20 AM Scott Chamberlain <
notifications@github.com> wrote:

[2015-02-07 21:20] cboettig commented on #2
@sckott You raise a good question about naming conventions for endpoints on https://github.com/ropensci/rfishbase/issues/31#issuecomment-73368519

I see your point about having good REST names, but it's a bit tricky here since we don't have control over the naming conventions of the SQL schema & tables but will want the API to be consistent / familiar with them anyway. The FishBASE manual lists si

[2015-02-07 21:55] cboettig commented on #3
@sckott Okay, I added a redis container to the the fig.yml and added the configuration to the API in 56b521ee9bdf39c1ff4ed760d2005f7a1650f5fc

(Oh, I didn't add an if clause this time so you should just set those environmental variables appropriately (e.g. to `localhost` and `6379` or some-such.)

Not quite sure how to test if the caching is working, but at least the server is still functioning wi

[2015-02-08 07:13] sckott commented on #3
Awesome, I'll written on the rest tomorrow

[2015-02-09 15:00] sckott opened #17 "HTTP caching"
http://www.sinatrarb.com/intro.html#Cache%20Control
http://www.w3.org/Protocols/rfc2616/rfc2616-sec13.html
https://devcenter.heroku.com/articles/increasing-application-performance-with-http-cache-headers

As far as I can tell, this only helps when in the browser, but maybe also helps with non-browser access?

[2015-02-09 15:20] #17 closed

[2015-02-09 17:41] #3 closed

[2015-02-09 17:48] cboettig commented on #9
Your current taxa table with the join seems to solve this perfectly.  The only thing I'd consider is maybe adding a column for the `FBName` field from the `species` table? This appears to be the accepted fishbase common name.

[2015-02-09 17:53] sckott commented on #9
is this still a concern, or is your newest comment now supersede that?

I'll add `FBName` to the output

[2015-02-09 18:24] cboettig commented on #9
Yeah, I think it is no longer a concern; just omitting the species & genus
is enough to get a full table join if it is needed. With `FBName` included
I think this table will do everything it needs to do.

On Mon Feb 09 2015 at 9:53:44 AM Scott Chamberlain notifications@github.com
wrote:

[2015-02-09 18:33] sckott commented on #8
@cboettig from #18 seems like you're saying we should restrict queryable fields to `species`, `genus`, and `speccode` - should I implement that now?

[2015-02-09 18:33] sckott commented on #9
okay, thx

[2015-02-09 18:46] cboettig commented on #8
@sckott Let's wait till we've done a few more endpoints to be sure that will work.  e.g. looks like it will work for species table, but not for common names or synonyms, where we need to able to query on the common name or synonym itself.

[2015-02-09 18:50] sckott commented on #8
right, ok

[2015-02-09 21:51] cboettig opened #19 "DRY out the API script a bit?"
@sckott Now that it seems like we've somewhat pinned down a standard pattern for defining endpoints, would it be worth functionalizing the API a bit more (I think you suggested this a bit earlier).   I'm getting to the point where it would be convenient to add a bunch more endpoints but don't want to do a bunch of copy-paste that will make more work for you later, so thought I touch base on this f

[2015-02-09 22:19] sckott commented on #19
yes, definitely want to DRY things. I'll work on that right away so we can keep moving

[2015-02-10 01:31] sckott commented on #10
can catch mysql errors soemthgn like

[code]

but instead collecting the message and providing in the error message in the body

[2015-02-10 01:31] sckott commented on #10
more testing stuff

[code]

[2015-02-10 01:43] sckott commented on #19
okay, DRYed evertying exept the `/taxa` route which is a bit more complicated

[2015-02-10 01:43] sckott commented on #19
should be easier to add now

[2015-02-10 02:51] cboettig commented on #19
Looks great, thanks! Yeah, no worries about taxa/ since that endpoint works
differently anyhow

On Mon, Feb 9, 2015, 5:43 PM Scott Chamberlain notifications@github.com
wrote:

[2015-02-10 06:42] sckott commented on #19
cool, im sure we can do more DRYing, so ill leave this open for now

[2015-02-10 06:42] #1 closed

[2015-02-10 06:42] sckott commented on #10
http://myronmars.to/n/dev-blog/2012/01/why-sinatras-halt-is-awesome

[2015-02-10 17:43] sckott commented on #15
@cboettig Okay, testing locally so far, not pushing up yet, but looks like this will work pretty easily
- use built in Sinatra logging
- Save logs to a file (or could use more advanced save to redis, or other options, but file seems nice and simple)
- Push logs into Elasticsearch via Logstash
- world domination!

e.g. now in elasticsearch we can do something like:

[code]

[2015-02-10 17:44] sckott commented on #15
and digging into the actual feedback from API requests

[code]

[2015-02-10 17:50] sckott commented on #15
Some more things to keep track of:
- [x] parameters passed in the query
- [x] IP address
- [x] add timezone to timestamp (already in UTC)
- [x] query run time (pretty sure this is already in there, though need to specify this may not be total resolution time, which depends on how fast the JSON is rendered, internet connection speed, etc)
- [x] log `user-agent` or similar

[2015-02-10 17:53] cboettig commented on #15
Very cool! Didn't know anything about elasticsearch before. Nice to see
there's already an official dockerized version too, so will be super easy
to plug into our setup: https://registry.hub.docker.com/_/elasticsearch/

Wondering if we should anonymize IP addresses on the fly by just resolving
them to the city & country?

Should we consider logging anything about how long the query took to
return?

[2015-02-10 18:51] sckott commented on #15
@cboettig  updated the list above. in the rfishbase pkg, you could add `user-agent = rfishbase` to `GET` requests, in addition to what's already passed, e.g., on my machine right now `User-Agent: curl/7.37.1 Rcurl/1.95.4.5 httr/0.6.1`, so maybe with rfishbase added in `User-Agent: curl/7.37.1 Rcurl/1.95.4.5 httr/0.6.1 rfishbase/0.3`

[2015-02-10 21:17] sckott commented on #15
@cboettig i put changes for logging in the `logging` branch so we can get the details worked out for Logstash and Elasticsearch installation done before merging to master

and see if you think the stuff put in the log is good - everything you listed except maybe software is implemented (though like I said you could maybe put user agent in rfishbase requests)

[2015-02-10 21:18] sckott commented on #15
the IP handling uses freegeoip.net, they say

so we can host our own if needed, but i really doubt that

[2015-02-10 21:52] cboettig commented on #15
Excellent, will try and take a look soon.

Yup, sounds like freegeoip should be fine.  Though with rfishbase it would
be possible for someone to make a single query that loops over a couple API
calls that must be made on a per-species basis, and thus hit the limit.
 e.g. let's get a table of vulnerability for the class Actinopterygii:

## uses 1 API call and then caches the taxa table so future ca

[2015-02-10 22:38] sckott commented on #15
@cboettig looks like they provide a docker image https://github.com/fiorix/freegeoip#docker-image making thing easier perhaps

hmmm, could maybe just install this docker image and call internally on the server?

[2015-02-10 22:42] cboettig commented on #15
Works for me.  All the same seems like it would be worth doing some
temporary caching of IP here to avoid repeated requests to geo-locate the
same IP.  We may also need that data to aggregate requests into a
meaningful layer -- e.g. distinguish between use cases in which one IP is
hitting a lot of API calls vs actually having a lot of different users.

On Tue Feb 10 2015 at 2:38:41 PM Scott Chambe

[2015-02-10 22:47] sckott commented on #15
Right, good point about needing to cache.

trying this locally, any idea how to make a port from a docker container be exposed to the host (my mac). Seems to work perfectly with your rocker images, but weird that this one doesn't https://registry.hub.docker.com/u/fiorix/freegeoip/

[2015-02-10 23:07] cboettig commented on #15
Hmm, it's a pity that there image is not an automated build or an official
container; generally that's a possible security risk because you just pull
down some binary they have build locally and it is thus less obvious what
is in it (docker inspect helps though).  More trivially, it also means I
cannot look at the Dockerfile.  From the readme it seems like using 8080
should work, just like 8787 do

[2015-02-10 23:56] sckott commented on #15
Thanks @cboettig - that all makes sense. I did try exposing with `... -p 8080:8080` but didn't work, probably b/c as you said not in their dockerfile i guess.

Right, okay, let's just try using the web API for freegeoip, and cache results, most people will make queries from just a few places probably, and we're not likely to have more than a few hundred users?

[2015-02-11 00:55] sckott opened #20 "Docker script"
@cboettig on trying to set this up on a DO droplet, lines in `docker.sh` work great, but then on trying these lines https://github.com/ropensci/fishbaseapi/blob/master/docker.sh#L22-L31 I get `FATA[0000] cannot enable tty mode on non tty input`

I did `scp` the sql database into the droplet, so it's there and named correctly. I'm probably missing something easy...

[2015-02-11 01:06] cboettig commented on #20
Shoot, sorry I hadn't tested that part of the script since I had it set up already.  Let's do it in steps instead, should at least be easier to debug:

Make sure the fbmysql container is running (first few lines of that script), and then can you try instead:

[code]

This should drop you into a bash sell on the container, at the working directory `/data` where you should see fbapp.sql.  From the b

[2015-02-11 01:45] sckott commented on #20
@cboettig thanks, trying that

[2015-02-11 02:38] sckott commented on #20
cool, that worked, just need to fix one small thing https://github.com/ropensci/fishbaseapi/commit/725ded37753b1946dde1330e70110496fc846e0e#commitcomment-9688130

Should we break these up in the docker file `docker.sh` ?

[2015-02-11 02:42] sckott commented on #20
@cboettig tested out the docker install and all things work, very nice

[2015-02-11 05:30] cboettig commented on #20
Very cool.

I've noticed I've had some issues with the mysql container crashing on my
server (seemingly after inactivity rather than being hit hard), but I
cannot replicate locally so this might be a memory issue.  Let me know what
you see.  I've also noticed that if I just restart the mysql container with
docker restart, this doesn't seem to restablish the connection; I have to
bring the sinatra

[2015-02-11 05:59] sckott commented on #20
Okay, will keep an eye out for that in testing

[2015-02-12 03:15] sckott commented on #15
- [x] Add caching to geoip addressing acquisition

[2015-02-13 01:15] sckott commented on #20
@cboettig okay, i think we're getting close, but its not fully automated yet. do you think you could try it out on a server?  I just ran from the `docker.sh` file manually. i imagine dockerfile needs more things for it to work?

even when it was running it seemed like I couldn't get to the log files in eleasticsearch, and it seemed that logging wasn't actually happening, but i'm not sure quite how

[2015-02-13 01:45] cboettig commented on #20
sure I can take a look, not quite sure what I'm testing though.

I did figure out why the script failed before on the import mysql step and
pushed a change to master so that doesn't have to be done manually.

took a look at logging branch and pushed a few quick edits to docker.sh on
that branch too.

will try and run on the server soon

On Thu Feb 12 2015 at 5:15:22 PM Scott Chamberlain notificati

[2015-02-13 02:05] sckott commented on #20
@cboettig sorry for not being clearer.
1. I was hoping you could see what needs to be added to the `Dockerfile` to get this working from a simple `docker pull ropensci/fishbaseapi`
2. and if you have any insight on might be wrong with the logstash part, doesn't seem to be working

[2015-02-13 03:48] cboettig commented on #20
oh right, sorry. checking now

On Thu Feb 12 2015 at 6:05:15 PM Scott Chamberlain notifications@github.com
wrote:

[2015-02-13 21:57] sckott opened #21 "Redis thoughts"
* We may at various points need to flush the redis cache, etc. so need to look into how to make this easy since it's running in a docker container

* We may want to set an expiration time for caching in redis, e.g., items are only cached for 24 hrs, or 1 week?  or no expiration?

[2015-02-13 22:08] sckott commented on #21
For flushing, simply send a `flushall` command inside the `redis-cli` command line interface

[2015-02-13 23:37] sckott commented on #9
looks like this is done, open again if i'm wrong @cboettig

[2015-02-13 23:39] cboettig commented on #21
Perfect.  If I do:

[code]

That clears the redis cache.  At the moment caching seems broken (on unicorn branch).  Any time I repeat a call, I get an error on the second call. If I flush cache and try again, it's okay.

[2015-02-14 00:02] cboettig opened #23 "Stability / Error handling"
Might be good for the app to be robust to any of the non-essential components going down or not responding?  This would also allow a user to deploy without things like the redis and/or logstash containers if they'd prefer.
- [ ] recover option to skip handle a failed attempt to connect to redis, which would also need to trip some kind of flag to avoid any later calls to cache or read from cache I

[2015-02-14 00:04] sckott commented on #21
weird, okay, will look into this

[2015-02-14 00:06] cboettig commented on #20
Okay, I think this is all fixed in the current docker.sh, so closing.

[2015-02-14 00:06] #20 closed

[2015-02-14 00:08] cboettig commented on #15
Okay, all done and dockerized via Pull #22

[2015-02-14 00:08] #15 closed

[2015-02-14 00:48] cboettig opened #24 "nginx / login-only settings for elasticsearch and kibana?"
Do we want secure credentials to be required for login access to the elasticsearch api?

I think the best way to do this would be a nginx layer with a CA certificate; since that should allow the API to work under programmatic calls without the user having to click / authenticate stuff, as long as they had the secure CA certificate installed on their machine.

[2015-02-14 01:02] cboettig opened #25 "Kibana needs manual configuration"
[code]

Find the line that has the server address as http://127.0.0.1 and change to match your external server address.

[2015-02-14 01:05] sckott commented on #25
thanks!

[2015-02-14 01:10] cboettig commented on #25
This is probably just necessary because of my ignorance about logstash config, but have checked in with the docker image maintainer here: https://github.com/pblittle/docker-logstash/issues/56

[2015-02-14 01:32] cboettig opened #26 "error handling / recovery wrt redis"
Should we handle failures of `get_cached` in error handling with a rescue method that would just repeat the call?  e.g. I think something like this would fall-back successfully if either `redis` call failed.

[code]

(related to #23)

[2015-02-14 01:32] sckott commented on #23
Is there any way to pass options to docker to toggle these things? or better to do in a config file?

Right, so be able to skip caching and logging, and turn off logging completely

[2015-02-14 01:40] sckott commented on #21
@cboettig Any reason to set an expiry date/time for cached responses?  Or keep them indefinitely?  Or to whenever the DB is updated (hard to automate perhaps)?

[2015-02-14 01:43] sckott opened #27 "Check parameters"
Some routes will fail when a parameter is passed that is not a field in the table being queried. Right now we use `check_fields()` to make sure the user isn't requesting a field that doesn't exist, but we should do similarly for fields queried on.

[2015-02-14 01:56] sckott commented on #26
nice, working on this now locally..

[2015-02-14 04:14] cboettig commented on #21
I don't think so.  At the moment the redis cache isn't being written to the host, so it's only a permanent as the redis container.  You don't lose the data if the redis container goes down (e.g. enters a `stopped` state, since `docker start fbredis` will bring it back up) but if the container is removed then the cache is lost.  This seems fine to me, but we could make it permanent.  There's also t

[2015-02-14 19:04] sckott commented on #21
Okay, sounds good, closing this

[2015-02-14 19:04] #21 closed

[2015-02-14 23:40] cboettig opened #28 "handle reconnecting to mysql if container goes down"
Currently if the mysql container exits, I need to bring everything down and restart.  We should just be able to (auto) restart the mysql container.

e.g.

- deploy on server: `./docker.sh`.  Then `docker.ps` shows all 5 containers running, and we can hit `/mysqlping` successfully.
- Do: `docker stop fbmysql`, simulates the sql container going down.  `/mysqlping` is now false.
- Restart it: `docker

[2015-02-15 17:11] sckott commented on #28
@cboettig  sounds good to make this more robust.
- What size box are you running on?  I can try from a larger box and see if we run into the same problem.
- Do you have a sense already for how to just restart the mysql container? I guess [this](https://github.com/ropensci/fishbaseapi/blob/master/api.rb#L29) isn't sufficient to restart mysql?

[2015-02-15 17:31] sckott commented on #27
two options:
- could throw error if a field does not exist in the table, and stop request,
- or drop silently

seems that many apis we work with use the latter approach, GBIF, PLOS ALM, etc.

[2015-02-15 18:31] cboettig commented on #27
Yeah, the latter seems fine

On Sun, Feb 15, 2015, 9:31 AM Scott Chamberlain notifications@github.com
wrote:

[2015-02-15 21:09] sckott commented on #27
@cboettig curious about your thoughts on case.

For trying to silently drop parameters that don't exist, what if there is a case mismatch?  That is, most fields in the tables in the fishbase DB are camelcase (i think?) and so if user passes `genus` and the field name in the DB is `Genus`, then we don't want to drop that parameter, do we? I imagine we want to do the parameter checking by lowercasin

[2015-02-15 21:36] cboettig commented on #27
Are REST URLs case sensitive then?  I keep getting confused as to
when/whether http URLs are case insensitive.  Anyway, I agree it makes
sense that we handle them in a case insensitive way, so that a user can use
Genus or genus.

That said, I think it's worth bearing in mind that there really isn't any
documentation of the fields of the SQL database anyway, so I imagine a user
would have no idea w

[2015-02-15 21:45] sckott commented on #27
Sounds good. Actually, just tried querying in mysql locally here, and case doesn't seem to matter. Sorry, i thought it did matter :disappointed:

spelling definitely matters, but yeah, i think we'd better just expect parameters to be spelled correctly and ignore if not for now

[2015-02-15 22:48] sckott commented on #27
closed via 22729bd4a70ab632dc4456c10ba9c98728072bff

[2015-02-15 22:48] #27 closed

[2015-02-15 22:49] sckott commented on #4
@cboettig now that we have nginx setup, do we already have gzip compression turned on?

[2015-02-15 22:50] sckott commented on #24
yeah, seems best to secure these services

[2015-02-15 22:52] cboettig commented on #28
I'm on a 1 GB RAM DO instance, with a few other services running in the background (e.g. gitlab, drone-ci).  Can you replicate this problem manually with the `docker stop` steps I describe above?

It seems to go down after ~ 24 hrs, during which time it usually has no activity.

The `reconnect=true` doesn't seem sufficient to reconnect once the container is back up.  I'm guessing there's a timeout

[2015-02-16 08:10] sckott opened #29 "docker stats"
https://blog.logentries.com/2015/02/what-is-the-docker-stats-api/  wonder if stats on the containers is something to monitor

[2015-02-16 16:37] cboettig commented on #29
yup, pretty sweet, though more for live diagnostics (like `top` for containers) than for logging purposes.

[2015-02-16 16:40] cboettig commented on #4
[Our nginx.conf](https://github.com/ropensci/fishbaseapi/blob/master/nginx.conf#L28) is just largely based on the default, so we have this off for now, but feel free to edit the nginx.conf to turn it on.  I know very little about nginx conf details really, so not sure what the tradeoffs are on such features, but if anything sounds worthwhile or at least worth experimenting with, go for it.  Certai

[2015-02-16 16:51] sckott commented on #29
k, will be fun to play with, closing

[2015-02-16 16:51] #29 closed

[2015-02-16 16:51] sckott commented on #4
okay, I'll give it a try

[2015-02-16 17:43] cboettig commented on #19
Changes have been great so far.  Wondering if we might just DRY out the addition of endpoints completely, so that a new endpoint which uses the template:

[code]

could just be given as `add_endpoint("comnames)`?  Also wondering if we should just make the correspondence of endpoint name to table name 1:1 for now?  Long-term we might provide more sensible endpoint names (probably with more sensible

[2015-02-16 17:44] cboettig commented on #19
(eg meaning more sensible than the crazy post-it-note style tables currently in place in the sql database; given the crazy SQL schema the API is quite sensible)

[2015-02-16 20:13] cboettig opened #32 "delete merged branches that we're done with (unicorn, logging, ...)"
Just thought I should check in about this first

[2015-02-16 20:15] sckott commented on #32
yeah, do it

[2015-02-16 20:18] cboettig commented on #32
Okay, all merged and we're back down to just a master branch.

[2015-02-16 20:18] #32 closed

[2015-02-16 20:31] sckott opened #34 "28"

[2015-02-16 20:31] #34 closed

[2015-02-17 00:44] sckott commented on #4
`Rack::deflater` seems to be a common rack middleware way to do compression https://github.com/rack/rack/blob/master/lib/rack/deflater.rb

but its not clear if this is an alternative to doing compression with nginx, or an additional step...?

[2015-02-17 00:51] sckott commented on #19
- `1:1` for `routes:table names` : sure, sounds good, i can do that
- sure, simplifying even more is great, we'll see how far it can go

[2015-02-17 01:38] sckott commented on #4
@cboettig okay, not completely sure i've done this correctly, but now you can do

[code]

which I think is correct, but we're not getting the `Content-Encoding: gzip` when the accept-encoding header isn't passed with the request

[code]

and it seems that that field present in the response header suggest gzipping is working http://www.nginxtips.com/how-to-configure-nginx-gzip-compression/ but mayb

[2015-02-17 02:19] sckott commented on #19
closing, reopen if you think we need to do more

[2015-02-17 02:19] #19 closed

[2015-02-17 03:56] cboettig commented on #29
Just for fun, here's some sample stats on my server:

[code]

Note that because of the way I have `--net container:fbapi` on the fbnginx container, the NET I/O from ngninx is actually counted under `fbapi`.

Note that logstash is the heaviest of the images, probably because of the kibana javascript, so it might be worth toggling that off if / when we're not using it.  (not sure how best to do that

[2015-02-17 04:01] cboettig commented on #28
Okay, this is mostly working now by:
- Connecting to the `mysql` container ip using the dynamic ip name from `/etc/hosts`, `mysql`, and
- running the mysql instance with the flag `--restart=always`.

Still, under some more intensive queries I've managed to get the mysql container stuck in a `restarting...` state but stay down (or just cycle up and down).  Strongly suspect that's due to insufficien

[2015-02-17 04:22] cboettig commented on #28
Will close this for now since I think we've essentially resolved the main issue regarding mysql restarts.  Might open further issues for improving performance as we learn more about where the bottlenecks are and how to address them.

p.s. fixed the funny business with nginx net port and also added some fleet service files for a coreos deploy.

[2015-02-17 04:22] #28 closed

[2015-02-17 04:23] sckott commented on #28
I'll try testing too on a 4gb droplet and see what happens

[2015-02-17 04:24] cboettig commented on #26
@sckott is this still an issue?  Now that we resolved that UTF-8 encoding I'm not often hitting errors so not sure if they are being cached.

[2015-02-17 04:25] sckott commented on #26
@cboettig yeah, i think we're okay now, closing

[2015-02-17 04:25] #26 closed

[2015-02-17 04:31] cboettig commented on #4
Cool. so does this mean we should be passing that header in all the httr calls from rfishbase, or is it happening automatically?

[2015-02-17 04:52] sckott commented on #4
i'm not sure yet, still need to play around some more. Seems that other APIs do the compression automatically without the client needing to send an accept header, which i imagine want to avoid. BUT - i should check as I did set a variable that says only gzip when content greater than X length...so small requests wouldn't be compressed

[2015-02-17 07:23] sckott commented on #29
do you have a nice one liner to get those stats?  or `docker stats <containerid>` on each one?

[2015-02-17 16:42] sckott opened #36 "DO box"
@cboettig

So we currently have `discuss.ropensci.org` on a 1 GB droplet . A few thoughts:

Will we run into any trouble with serving the API from the same server as the discussion forum since `discuss.ropensci.org` is mapped to that servers IP address, and I think port 80.  Can we map `<server.ip.address>:80` to a domain name e.g., `fishbaseapi.org`  exposing only the fishbase API, and not allow

[2015-02-17 16:44] sckott commented on #36
since we are only hosting the fishbase API temporarily (correct?) then maybe its worth just using a separate box to avoid any conflict with the forum, maybe on a 2GB box ?

[2015-02-17 16:58] sckott commented on #36
@cboettig part of reason i'm asking is i was gonna install the api on the box were using for the forum but want to clear up what we want here

[2015-02-17 17:24] cboettig commented on #36
Yeah, all good questions. Right, we're hosting only temporarily so I think
a clean box might be best here. In any event the costs aren't gonna be
huge, even if we run a 2 GB box for a few months.  @karthik, thoughts?

On Tue Feb 17 2015 at 8:58:59 AM Scott Chamberlain notifications@github.com
wrote:

[2015-02-17 18:30] sckott commented on #36
yeah, a clean 2GB box seems good. I tested yesterday on a 4GB box, hitting it with large requests in a loop, and it all handled it easily, so i imagine 2GB is fine.

[2015-02-17 19:57] cboettig commented on #36
p.s. mapping to different ports is easy, no need to use port 80. I've added an env var at the top of `docker.sh` to make this easier.

Not sure how the mapping of domain names part goes, can you map domain names to specific ports? Is that done at the server level (say, nginx) or the DNS level?

[2015-02-17 19:59] sckott commented on #36
nice, didn't know we could use a different port (makes sense though)

don't know about domain names. karthik set it up for the forum. I think he linked the sub domain name and the IP for the server with the hosting provider for `ropensci.org`

i think we can use the DO web interface or API to set up domain name if we wanted ? e.g, https://www.digitalocean.com/community/tutorials/how-to-set-up-a-ho

[2015-02-18 16:50] cboettig opened #37 "moving log file location"
Hey @sckott ,

Trying to get the logstash to work with kibana URL being configured at runtime instead of the crazy solution in #25.  I should just be able to pass in the name of the server as the env var `ES_HOST` when running the logstash container, but for some reason doing so is causing the logstash container to crash.

Apparently the problem may be due to writing logs (and thus having to link

[2015-02-18 17:14] sckott commented on #37
Bummer. I looked around a bit on blogs and such and couldn't find anything useful to solve this. And can you access Elasticsearch?  Cant seem to get to port 9200

[2015-02-18 17:17] cboettig commented on #37
Does the ruby code look right to you?  I can probably get the others up if
it is

On Wed, Feb 18, 2015, 9:14 AM Scott Chamberlain notifications@github.com
wrote:

[2015-02-18 17:35] sckott commented on #37
looking

[2015-02-18 18:36] sckott commented on #37
so i assume logs should be in the logstash container? so in this file https://github.com/ropensci/fishbaseapi/blob/master/logstash.conf#L3  ? if so, that file is empty. Or am I looking in the wrong place

[2015-02-18 18:43] cboettig commented on #37
Originally the ruby script wrote logs to `~/fishbaseapi.logs` (which is the
same as `/root/fishbaseapi.logs`) and so logstash would read them from
there (because the logstash container would share the volume `/root` with
the api container).  I've reverted to this setup on master, still need to
check if it's working.

I had moved the location of the file to `/var/log/fishbase/api.log` (e.g. I
tried

[2015-02-18 19:07] sckott commented on #37
Right, i couldn't seem to get using a local logstash.conf file to work with docker - works locally on my machine, but not with docker - hopefully it's not a problem to use the remote file

[2015-02-18 19:09] cboettig commented on #37
Can you tell me more about what works locally?  e.g. running with unicorn
or with ruby / webrick?

On Wed, Feb 18, 2015, 11:07 AM Scott Chamberlain notifications@github.com
wrote:

[2015-02-18 19:14] sckott commented on #37
playing locally more...

[2015-02-18 20:02] sckott opened #38 "passenger info"
not saying we should switch, but just collecting thoughts since martin recommended it:

* Docker image: https://registry.hub.docker.com/u/phusion/passenger-full/
Ubuntu PPA
* https://www.phusionpassenger.com/documentation/Users%20guide%20Nginx.html#install_on_debian_ubuntu

[2015-02-18 20:04] sckott commented on #37
@cboettig Martin says he uses this ruby gem https://rubygems.org/gems/logstash-logger

seems if we get that to work we can maybe do away with the logstash container all together which would be nice since it takes up a lot of resources.

nevermind, still uses logstah, hmmm

here's an example of someone using it in sinatra https://github.com/danmayer/server_responder/blob/master/app.rb#L48-L54

[2015-02-19 23:06] karthik commented on #36
Looks like a 2 gig box will cost $20 a month. How long are we hoping to run this for? and for whom? Will fishbase or someone else be able to pick up the cost?

I can map any subdomain to an IP, but can't forward to any unexposed ports. That has to happen on the server side.

[2015-02-20 23:11] sckott commented on #36
@cboettig can you ask if Fishbase folks would pay for a few months of server time while we are in the testing phase? if not, i can pay with my own money - the convenience is worth it

[2015-02-21 01:10] cboettig commented on #36
Okay, I've written to them, will let you know when/what I hear back.
Otherwise, I can chip in to the costs

On Fri, Feb 20, 2015, 3:11 PM Scott Chamberlain notifications@github.com
wrote:

[2015-02-21 01:13] sckott commented on #36
thanks carl!

[2015-02-21 18:08] karthik commented on #36
Great. I think it's silly for us to bear this cost (even though we could). I don't know the full context with this current API set up but we are providing the developer time pro bono. The least the data provider can do is pick up some of the actual server expenses. Neither of you should be paying out of pocket.

[2015-02-23 17:55] cboettig opened #39 "license"
this project still needs a license.  MIT?

[2015-02-23 18:09] sckott commented on #39
sounds good, Martin has MIT for Lagotto https://github.com/articlemetrics/lagotto/blob/master/LICENSE.md

[2015-02-23 18:29] cboettig opened #40 "unit testing"
Might be worth thinking if there's any kind of testing we can run here?

Might look more like queries against the testing API instance than actually deploying the API here (though I suppose the tests on rfishbase2.0 rather fulfill that role already).  Or perhaps we could have a dummy SQL database with no real data, for testing purposes only.

The docker calls can all be run on circle.io.

[2015-02-23 19:32] sckott commented on #40
There is an issue for testing the Sinatra application #16 - which would test the app, but not the docker steps - but a you said, those can be done on circle.io

Good point that rfishbase will do some testing.

Worth having tests since it's always better to have tests, but also will help make a better app that we can reuse for other purposes

[2015-02-23 19:41] #39 closed

[2015-02-24 21:44] cboettig opened #41 "mangled json responses"
Hey @sckott ,

Occasionally I will get the following error message (e.g. on a large call such as: "http://fishbaseapi.info/taxa?family=&limit=40000", though it happens occasionally on smaller calls as well)

[code]

If you put that link into a browser you will probably get the same thing -- a long field of valid JSON that suddenly terminates with the HTTP error message.  Because the header is inta

[2015-02-24 21:54] sckott commented on #41
hey carl, yeah, i think i've seen this before, though it was an anomaly, but apparently not.

My initial guess is that it has to do with redis caching, but I'll take a look

[2015-02-24 22:55] sckott commented on #23
@cboettig  how do you like the approach so far by having variables set at the top of the `api.rb` file? see https://github.com/ropensci/fishbaseapi/blob/master/api.rb#L11-L12

[2015-02-24 23:08] cboettig commented on #23
:+1:

[2015-02-25 06:26] sckott commented on #41
@mfenner here's what the mangled bottom of the response looks like, from this example:

http://fishbaseapi.info/taxa?limit=10000

[code]

[2015-02-25 06:27] sckott commented on #41
@cboettig played a bit more tonight, tinkered with mysql, but i doubt it comes from there since why would mysql return http errors. it throws errors, but why would they be http errors

[2015-02-25 06:52] mfenner commented on #41
@sckott, my first guess is a server error that is not handled properly, something I have seen sometimes in various JSON APIs (a variation is a error response in html rather than json). In `api.rb` I only see a route for 404 errors, but I don't see how the other errors are handled.

To give you one example how I do this in Rails: https://github.com/articlemetrics/lagotto/blob/master/app/controllers

[2015-02-25 06:56] sckott commented on #41
@mfenner Right, forgot about specifying `halt` rules for other http errors - was focused on trying to see where that errant string is coming from. I'll add a `halt` for 500 and see what that does

[2015-02-25 15:23] cboettig commented on #41
Scott, good point, though on the server MySQL is connected to the api
container via a network (TCP ip) port, not a socket like you are using
locally, not sure if http errors apply in that context

On Tue, Feb 24, 2015, 10:56 PM Scott Chamberlain notifications@github.com
wrote:

[2015-02-25 15:39] sckott commented on #41
hmm, tried martins suggestion of adding a 500 error handler, but didn't seem to change anything - trying another change

for mysql, if that's the case, would be nice to test mysql on the server, know how to connect to mysql command line in the mysql container?

[2015-02-25 15:59] sckott commented on #41
@cboettig okay, adding 500 handlers didn't' do anything

[2015-02-25 16:00] mfenner commented on #41
I think you should see different errors if there is a problem with the MySQL connection. Is your error handler giving you enough information to track down what is wrong?

[2015-02-25 17:42] sckott opened #42 "Set maximum value for limit parameter"
to 5000 for now

[2015-02-25 17:47] sckott commented on #41
@mfenner hmmm, i don't know for sure. I'm not sure how to simulate 500 errors locally to make sure it works, ill check more

[2015-02-25 17:48] cboettig commented on #42
nice. Do we also have a offset parameter then?

I'm not quite clear how this works in the context of the table join (for the `/taxa` endpoint).  It seems you would have to compute the full join  first before you knew how many results would be returned?  Maybe it's not an issue

[2015-02-25 18:06] sckott commented on #42
yeah, haven't pushed up changes yet with offset parameter

[2015-02-25 18:06] sckott commented on #42
havne't implemented in the taxa table yet...will think about that

[2015-02-25 19:01] #11 closed

[2015-02-25 19:28] sckott commented on #42
so now we get an error when limit is over the max

[code]

[2015-02-25 19:28] #42 closed

[2015-02-25 19:30] sckott commented on #10
Added check for when bad values are passed to `limit` and `offset` params, e,.g,

http http://fishbaseapi.info/species?limit=adfasf

[code]

and when nothing is passed to `limit` or `offset` like

http://fishbaseapi.info/species?limit=

then the default value is used

[2015-02-25 21:27] mfenner commented on #41
Ideally you do this with a testing framework. I use `rspec`, but you could also use `minitest`. Then add `Rack::Test`, and possibly `Webmock` and/or `vcr`. You can then test all the different conditions (different query parameters, errors, etc.). API testing is one of the areas where writing tests is straightforward and rewarding,

[2015-02-25 21:29] sckott commented on #16
closing, to join with #40

[2015-02-25 21:29] #16 closed

[2015-02-25 21:29] sckott commented on #40
sinatra testing link http://www.sinatrarb.com/intro.html#Testing

[2015-02-25 21:30] sckott commented on #41
Thanks Martin, we do plan to get tests set up ( #40 ), should have done it earlier!  I like `vcr` - i've even started to port `Webmock` and `vcr` to R since together they would be useful in R

[2015-02-26 00:08] cboettig commented on #4
Interesting, see the top answer here: http://stackoverflow.com/questions/15999606/enable-gzip-compression-with-nginx

looks like the modern browsers accept the compression automatically but we probably need to manually add this to the headers in the API requests...  Unless @hadley already enables gzip compression in httr GET requests by default...

[2015-02-26 00:15] sckott commented on #4
right, i thought browser did it automatically, easy to set this by default within rfishbase :)

[2015-02-26 00:28] sckott opened #43 "securing elasticsearch"
in case this applies to our api, some articles, etc. on securing elasticsearch:

* https://www.digitalocean.com/community/tutorials/how-to-install-elasticsearch-on-an-ubuntu-vps
* https://www.digitalocean.com/community/tutorials/elasticsearch-fluentd-and-kibana-open-source-log-search-and-visualization
* http://saskia-vola.com/install-secure-elasticsearch-1-x-digital-ocean/
* http://stackoverflow.c

[2015-02-26 00:39] sckott commented on #2
@cboettig is this updated with all endponts avail. in the api?

[2015-02-26 00:49] sckott commented on #24
see also #43

[2015-02-26 00:58] cboettig commented on #2
I think I've kept it up-to-date so far

On Wed, Feb 25, 2015, 4:39 PM Scott Chamberlain notifications@github.com
wrote:

[2015-02-26 00:58] sckott commented on #2
@cboettig k, just curious

[2015-02-26 02:26] hadley commented on #4
httr should do it by default

[2015-02-26 03:25] cboettig commented on #4
@hadley you rock, as always.

On Wed, Feb 25, 2015, 6:26 PM Hadley Wickham notifications@github.com
wrote:

[2015-02-26 18:29] #41 closed

[2015-02-26 19:22] sckott commented on #41
:+1:

[2015-02-26 19:55] sckott commented on #38
seems like we got nginx sorted, closing this

[2015-02-26 19:55] #38 closed

[2015-02-26 19:56] sckott commented on #36
don't think we need this open any longer

[2015-02-26 19:56] #36 closed

[2015-02-26 20:23] cboettig commented on #36
btw, I did write and hear back from them -- they are negotiating cloud space for fishbase.org too, but don't have the details yet.  Hoping we will hear back soon.  They didn't comment about covering our dev costs, but given the limited resources I doubt they can cover costs for our development.

[2015-02-26 20:26] sckott commented on #36
since it's on my account, i'm fine covering costs for a few months  - @cboettig if you think we can get away with a smaller box then we can do $10/month, half the price

[2015-02-26 23:12] sckott commented on #5
@cboettig updated the apiary docs, see http://docs.fishbaseapi.apiary.io/#

you can now try the api using the root `fishbaseapi.info` and it should work

added info on response codes, pagination, etc.

[2015-02-26 23:19] sckott opened #44 "Fix bad routes"
For some reason this works

[code]

and returns genus code 56.

[code]

i imagine this is b/c https://github.com/ropensci/fishbaseapi/blob/master/api.rb#L203 the trailing slash is allowed to be absent, but really this should throw a 404

[2015-02-26 23:51] sckott opened #45 "prevent all http methods that are not GET"
or maybe allow `HEAD` in addition to `GET`?

[2015-02-26 23:56] sckott commented on #45
related, add default header to all responses listing allowed methods on each path,

`405 Method Not Allowed`

[2015-02-27 00:53] #45 closed

[2015-02-27 18:20] sckott opened #47 "Use freegeoip docker image?"
There is a docker image - i tested locally, works nicely https://registry.hub.docker.com/u/allingeek/docker-freegeoip/ - this might be better than relying on a web api?

[2015-02-27 18:27] cboettig commented on #47
sweet, will plug it in.

[2015-02-27 18:28] sckott commented on #47
in this case, we get rid of the geolocater gem and just call to that container

[2015-02-27 18:35] cboettig commented on #47
I've added it to the docker-geoip branch.  From the container where the Ruby code is running, the service should now be available at: `geoip:8080`.  I guess you have some idea how to replace the `geolocater` calls with CURL calls against that IP?

[2015-02-27 18:38] cboettig commented on #47
Um, looks like you might rather use an existing `freegeoip` gem to query against that server, e.g. https://github.com/lmumar/freegeoip-ruby

just do:

[code]

instead of `127.0.0.1` as the host.

[2015-02-27 18:41] sckott commented on #47
nice! that sounds good

[2015-03-06 00:33] cboettig commented on #9
@sckott Not seeing the field `FBName` in the returns from taxa.  think you might add this?

[2015-03-06 01:53] sckott commented on #9
yeah, can do

[2015-03-06 02:09] sckott commented on #9
@cboettig looking at that column, its `FBname`, not `FBName`, at least I can't find a `FBName` - they're all null values. Do you expect any values to be non null?

[2015-03-06 02:15] cboettig commented on #9
Yeah, could be FBname, sorry.  should be a column of common names, don't
think it should have many (any?) Nulls...

On Thu, Mar 5, 2015, 6:09 PM Scott Chamberlain notifications@github.com
wrote:

[2015-03-06 05:26] sckott commented on #9
@cboettig do you know what table it comes from?

[2015-03-06 05:31] cboettig commented on #9
species table

On Thu, Mar 5, 2015 at 9:26 PM Scott Chamberlain notifications@github.com
wrote:

[2015-03-06 05:32] sckott commented on #9
yeah, the data in `FBname` are all null's .

what about `ComName` from the comnames table? could join that table in to get common names

[2015-03-06 05:52] cboettig commented on #9
They don't look all NULL to me:

[code]

All SpecCodes I've tried return names.

Right, I'm actually currently doing this using the common names table, but there are many common names for a given spec code, even within a single language (check out http://www.fishbase.us/comnames/CommonNamesList.php?ID=2&GenusName=Oreochromis&SpeciesName=niloticus&StockCode=1).  I just pick the most commonly used o

[2015-03-06 06:01] sckott commented on #9
I do get the same thing your your SQL query. That is so weird.

When I do `SELECT FBname FROM species limit 10;` I get all NULLs. But

[code]

weird

[2015-03-06 06:06] cboettig commented on #9
Don't you need a `WHERE` statement in the query?

[2015-03-06 06:09] sckott commented on #9
hmm, i didn't think so, i'm just taking the `head` basically of first 10 rows

[2015-03-06 06:09] sckott commented on #9
anyway, just pushed that commit above, and it does seem to work

[2015-03-06 17:25] sckott commented on #9
does that work now @cboettig the `FBname` field output?

[2015-03-06 17:45] cboettig commented on #9
Nice, yup, that's working perfectly.

On Fri, Mar 6, 2015 at 9:25 AM Scott Chamberlain notifications@github.com
wrote:

[2015-03-06 17:45] #9 closed

[2015-03-07 07:06] sckott opened #48 "Route on api that redirects to the documentation"
E.g., Martin has Lagotto setup so that `alm.plos.org/api` redirects to the docs (see http://alm.plos.org/api)

We could have e.g., `fishbaseapi.info/docs` redirect to http://docs.fishbaseapi.apiary.io with a simple

[code]

[2015-03-07 16:04] cboettig commented on #48
:+1:

On Fri, Mar 6, 2015, 11:06 PM Scott Chamberlain notifications@github.com
wrote:

[2015-03-07 20:21] sckott opened #49 "Devise plan for shuttling elasticsearch log data elsewhere"
Since security is an issue with elasticsearch, we could use ES's snapshot and restore tools http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/modules-snapshots.html that should allow us to create backups that we can easily `scp` or similar to our own machines, load into ES locally, and explore...

[2015-03-07 20:29] #48 closed

[2015-03-07 22:16] cboettig commented on #49
I think we just need to secure ES properly behind https with a CA certificate (unsigned/self-signed, because otherwise costs big $) in NGINX.  This is pretty straight forward, I've done this for a docker registry before but haven't gotten around to it here.  I can take a quick stab at it now

[2015-03-08 15:03] #49 closed

[2015-03-09 23:08] sckott commented on #8
@cboettig updating the docs a bit - since the query-able fields are unlimited right now, I'm only putting in the fields always avail. (`limit`, `offset`, `fields`), and a few other fields that are most likely to be queried on

e.g. http://docs.fishbaseapi.apiary.io/#reference/list-species

[2015-03-09 23:28] cboettig commented on #8
Nice, looks good. yeah, that makes sense for now

On Mon, Mar 9, 2015 at 4:08 PM Scott Chamberlain notifications@github.com
wrote:

[2015-03-09 23:33] sckott commented on #8
in the more general discussion area on top in apiary, I can explain that

[2015-03-30 22:57] cboettig opened #51 "Inline/API-based documentation of endpoints?"
Hey @sckott,

Keep feeling it would be nice to have some inline documentation of the endpoints and I'm wondering if just editing the `heartbeat` list directly is the best way to do this.  It's nice to get a table of endpoints and all, but at minimum it would be useful to have a description of what the endpoint does; (particularly since using the fishbase SQL table names helps in programming, but m

[2015-03-31 17:40] sckott commented on #51
@cboettig sounds good, i haven't seen this very often, but I guess don't see why not.

Do you mean this in place of the html documentation?  I'm working on a swagger version so it's all within this repo and all open source, but we will have to serve it up from within the droplet

[2015-03-31 17:48] cboettig commented on #51
I guess I'm really looking for the roxygen equivalent for ruby API,
something so that I  don't have to flip between different pages to remember
what this or that endpoint was doing.  Not sure if it's common for
endpoints to include any description of themselves.  I have seen other APIs
have an endpoint that describes other endpoints with more detail than just
a listing there names; kinda handy for

[2015-03-31 17:56] sckott commented on #51
Is this the kind of thing you had in mind? http://demo.ckan.org/api/3/action/package_search?q=spending  Of course you can just ignore the `help` element in a client library

There are a few things that might help if we wanted to autogenerate docs https://github.com/ddollar/sinatra-croon and https://github.com/rkh/yard-sinatra

[2015-03-31 18:00] cboettig commented on #51
sure, any of these look good but I'm happy to follow your lead on whatever
you think is best.  Might be easiest to just go with swagger anyway.

On Tue, Mar 31, 2015, 10:56 AM Scott Chamberlain notifications@github.com
wrote:

[2015-04-02 17:46] cboettig commented on #43
Just some notes to myself here because I've wondered how the hell the seemingly standard setup of logstash+elasticsearch+kibana is ever secure.

Looks like the standard thing here is to prevent elasticsearch from responding over the http client at all, such that it can only be used by applications running on the same host.

e.g. [This digitalocean guide](https://www.digitalocean.com/community/tuto

[2015-04-02 17:57] sckott commented on #43
@cboettig thanks for the notes. So having worked with elasticsearch for a while, do you still want to stick with it?  Or too much of a pain?

[2015-04-02 17:59] cboettig commented on #43
I think it's pretty cool, even though I haven't worked with the actual
query side of it.  Our current setup is solid.  I do think kibana is kinda
pointless so we may just ignore it.

On Thu, Apr 2, 2015 at 10:57 AM Scott Chamberlain notifications@github.com
wrote:

[2015-04-02 18:47] sckott commented on #43
right, i don't think we need kibana

[2015-04-02 18:50] sckott commented on #43
The EL stack (elasticsearch, logstash)

[2015-04-02 20:15] sckott commented on #4
i think we're all set on this

[2015-04-02 20:15] #4 closed

[2015-04-02 20:16] sckott commented on #37
@cboettig closing as I think we have this sorted, reopen if it's not

[2015-04-02 20:16] #37 closed

[2015-04-02 20:17] sckott commented on #25
I think we talked about not really supporting/dealing with kibana, closing, reopen if needed @cboettig

[2015-04-02 20:17] #25 closed

[2015-04-18 03:55] cboettig commented on #47
I think I should close this issue since we're using the freegeoip image, and then I'll open a new issue for the fact that it isn't actually getting the IPs in the first place.

[2015-04-18 03:55] #47 closed

[2015-04-18 03:57] cboettig commented on #43
I think with https+a long password, and NGINX blocking any write requests, we're probably good here now.

[2015-04-18 03:57] #43 closed

[2015-04-18 03:58] sckott commented on #43
@cboettig  agreed

[2015-04-18 03:59] cboettig opened #52 "fix geolocation of IP"
API does not seem to be correctly identifying the ip address in the first place, all ips in the log come back as the docker ip.

Once this is fixed, logs need to switch over to actually doing the geolocation and reporting the anonymized location instead of the ip address.

[2015-04-18 04:00] cboettig commented on #7
@sckott is this still an issue?

[2015-04-18 04:02] sckott commented on #7
@cboettig i think it still could be - someone could _i think_ include a drop table potentially - i'll take a look

[2015-04-18 04:05] cboettig commented on #7
We may also just be able to mount the database as a read-only file; e.g. just change the file permissions for the mysql user....

[2015-04-18 15:05] sckott commented on #7
interesting, good thinking

[2015-04-19 15:59] sckott opened #53 "JSON-API standard-ish"
@cboettig  http://jsonapi.org/ interesting - if there's something that is getting adoption, we could consider modifying our responses

[2015-04-20 17:17] cboettig commented on #53
Nice! Cool that it's a registered MIME type already: "JSON API has been properly registered with the IANA. Its media type designation is application/vnd.api+json."

[2015-04-20 18:10] sckott commented on #53
@cboettig I guess easiest is to just leave response as it is now, and modify response based on accept headers, e.g.., `application/vnd.api+json`

[2015-04-20 18:14] cboettig commented on #53
as a side note is kind of funny to see json re-invent xml bit by bit --
these mime types are essentially simplified XML schemas; just with a bit
more attempt to be general from the start and minus the ability to mix and
match them / share namespaces.  But it's all about getting the right
balance between simple, flexible, and formal/predictable structure anyway,
so it's probably progress.

On Mon,

[2015-06-06 19:17] sckott opened #54 "Provide full URL to images"
Only file name provided now, e.,g,

http://fishbase.ropensci.org/species?genus=Abalistes&species=filamentosus

Only gives `"PicPreferredName": "Abfil_u0.jpg"`

Base url: http://www.fishbase.org/images/species

e.g., full image urls
- http://www.fishbase.org/images/species/Melab_u0.jpg
- http://www.fishbase.org/images/species/Abfil_u0.jpg

[2015-06-08 23:18] sckott commented on #52
Seems that all IP addresses are the same too, seems like we're just getting the container IP possibly?

[2015-06-08 23:26] sckott opened #55 "Elasticsearch fail behavior"
Wonder if there's a way to not lose old indices (each day's collection of logs) when the container crashes. E.g., today @cboettig you put it back up, but we only have today's index. However, it's weird, cause it had data only from back in April, and we know there's been requests since then

[2015-06-08 23:32] cboettig commented on #55
Weird.  We're linking the local log file, which is still there, has entries
ranging from 2015-04-02 until today.  (see
/home/cboettig/log/fishbase/api.log  on the server).  Somehow Elasticsearch
must not be reading in the whole log?

On Mon, Jun 8, 2015 at 4:26 PM Scott Chamberlain notifications@github.com
wrote:

[2015-06-08 23:38] sckott commented on #55
Okay, that's good news that they are there.

[2015-06-09 03:09] cboettig commented on #55
Hmm, nothing obviously wrong in the configuration that I can see.  elasticsearch has the log here: https://github.com/ropensci/fishbaseapi/blob/master/logstashconf/logstash.conf#L3

weird that it would be able to read in the recent stuff but not the earlier stuff; should all be in the same file.

[2015-06-09 21:55] sckott opened #56 "ecosystems route seems to not exist, or be broken somehow"
`/ecosystems/` gives a 500 server error, which is a catch all, so not sure what's wrong yet

[2015-06-10 16:03] sckott opened #57 "Use Watcher?"
https://www.elastic.co/products/watcher

watches and gives notifications on elasticsearch server

[2015-06-23 21:58] cboettig commented on #55
@sckott can you check this again when you get a chance? no idea if I've got this part configured correctly now, but I did mess with some stuff today

[2015-06-23 21:58] cboettig commented on #52
Okay, I believe this is fixed.

[2015-06-23 21:58] #52 closed

[2015-06-23 22:46] sckott commented on #55
yeah, i think we gotta wait a few days (so we have a few days of logs) AND have the service taken down then put back up  (so we see if it recovers correctly), can do then

[2015-06-24 20:22] cboettig commented on #29
Not a _nice_ one-liner but:

[code]

see https://github.com/docker/docker/issues/10772

[2015-06-24 20:22] sckott commented on #29
:+1:

[2015-06-26 18:10] #56 closed

[2015-06-26 18:11] sckott commented on #56
@cboettig  we need to manually update the container on the server, right?

[2015-06-26 18:12] cboettig commented on #56
right, I should just need to pull the git repo and run `docker.sh`, will do now

[2015-06-26 19:51] sckott commented on #56
looks like it's working now, so this should close ropensci/rfishbase#54 ?

[2015-06-26 20:20] cboettig commented on #56
Yup thanks. (got my issue numbers transposed in my commit msg)

On Fri, Jun 26, 2015 at 12:51 PM Scott Chamberlain notifications@github.com
wrote:

http://carlboettiger.info

[2015-06-26 23:00] cboettig opened #59 "Search for term anywhere in database"
@sckott I'm wondering if we can construct an endpoint to search for a term anywhere in the database.

Given how disorganized the FishBase SQL is, it can be pretty hard to know which table to find something in (e.g. min/max temp, https://github.com/ropensci/rfishbase/issues/47, that several people have requested recently -- it must be there somewhere since it's on the species summary pages).

Haven

[2015-06-26 23:17] cboettig commented on #40
for a first pass, maybe we can have a quick testing file like at that link that just checks that each endpoint in `heartbeat` doesn't 500 err

[2015-06-27 16:34] sckott commented on #40
@cboettig Okay, got tests running locally, you can run those yourself by doing `rake test TESTOPTS='-v'` (or `rake test`)

Note, more tests should be written, but it's a start

Though not sure how to get tests running on Travis - see latest attempt https://travis-ci.org/ropensci/fishbaseapi/builds/68613674

Ideally, we could test the whole app, database and all from travis - perhaps we can hook in

[2015-06-27 16:54] cboettig commented on #40
Cool!

  Maybe from Travis we should just test if all the endpoints are up &
returning the expected data?  Guess that's not really unit testing the Ruby
code so much as just checking the app is up, but would still be useful and
would need any auth or anything on the Travis side

On Sat, Jun 27, 2015, 9:34 AM Scott Chamberlain notifications@github.com
wrote:

http://carlboettiger.info

[2015-06-27 17:21] sckott commented on #40
yeah, doing that now, just testing remote

[2015-06-27 17:21] sckott commented on #40
@cboettig Any chance we can run the test suite of the complete app in circle.io ?

[2015-06-27 21:36] cboettig commented on #40
@sckott tricky to download and import the database each time for testing; not sure if it would run fast enough to complete before the ci job got terminated (~ 50 mins).  Also at the moment that part still isn't completely automated, due to issues with docker/scripting mysql which I don't quite understand

[2015-06-29 22:19] sckott commented on #40
Okay, I have remote testing running on travis now, e.g., https://travis-ci.org/ropensci/fishbaseapi/builds/68886616

The Rakefile has https://github.com/ropensci/fishbaseapi/blob/testing/Rakefile two test suites you can run, one for the server API itself, and the other for the local Sinatra application. Run remote by `rake remote TESTOPTS='-v'` and local by `rake local TESTOPTS='-v'`

Still can ad

[2015-06-29 22:29] cboettig commented on #40
Very cool. yup, let's merge this into master.

Um, stupid question, but trying to see what the tests actually are/what
they do? Looks like maybe a get request against every route?
https://github.com/ropensci/fishbaseapi/blob/testing/test_fxns.rb , is that
right?

On Mon, Jun 29, 2015 at 3:19 PM Scott Chamberlain notifications@github.com
wrote:

http://carlboettiger.info

[2015-06-29 22:32] sckott commented on #40
Tests are in `/spec` https://github.com/ropensci/fishbaseapi/tree/testing/spec

The Rakefile has two tasks, one for remote server API only tests (`remote`) and one if you want to test the sinatra app locally `local`, There's two helper files in root dir for testing that get used in files in `/spec`

[2015-06-29 22:45] cboettig commented on #40
ah! that's awesome

On Mon, Jun 29, 2015 at 3:32 PM Scott Chamberlain notifications@github.com
wrote:

http://carlboettiger.info

[2015-06-30 00:28] #40 closed

[2015-07-07 14:36] sckott opened #61 "Add tests to travis-restarts to test every day"

[2015-07-07 14:38] #61 closed

[2015-07-10 14:15] sckott commented on #59
Hmm. We could index the whole thing in elasticsearch, and search that way. May not be appropriate, just off the top

[2015-07-10 19:10] sckott commented on #59
Something like this, playing with my installation locally:

[code]

[code]

Could do this query to find table, then merge columns required to get the data needed?

I guess if we're thinking of re-orging the API based on a flat file of everything, then this is moot

[2015-07-13 17:27] cboettig commented on #59
Nice, this looks promising.  Let's build an endpoint around this for now,
since it should be quick.  (I think it will be a ways away before we can
replace everything with a flat file, but guess we'll see)

On Fri, Jul 10, 2015 at 12:10 PM, Scott Chamberlain <
notifications@github.com> wrote:

##

Carl Boettiger
UC Santa Cruz
http://carlboettiger.info/

[2015-07-21 01:33] sckott commented on #59
@cboettig working on this, not quite sure what the use case is right now

Are users going to query for fields X, Y, and Z, and return those in any table, if found?   Does this endpoint look for fields, and if exist, then return those fields (regardless of table they're in)?  if so, then main parameter I guess is `fields` to specify what fields to return.

But there definitely are duplicate field n

[2015-07-21 18:20] cboettig commented on #59
@sckott Here's an example use case: discover which table(s) contain the data of min and max temp for a species range (e.g. see https://github.com/ropensci/rfishbase/issues/47).

I imagine the user would query something like "Min Temp", though not quite sure if one would need good fuzzy matching.  The exact field is called `TempMin` and comes from the `stocks` table, which isn't particularly intuit

[2015-07-21 19:04] sckott commented on #59
@cboettig that makes sense I think.  Already have a working route for getting all tables and fields. Will try to add support for a `fields` parameter passed in to filter by whatever user wants to find

[2015-07-21 19:50] sckott commented on #59
@cboettig Okay, added a route `/listfields` https://github.com/ropensci/fishbaseapi/blob/master/api_docs.md#listfields - we can rename to anything you want.

Restarted server and getting same problem as yesterday though, so it's not up yet

[2015-07-21 19:51] sckott commented on #59
when it's up try:
- `fishbase.ropensci.org/listfields`
- `fishbase.ropensci.org/listfields?fields=Year`
- `fishbase.ropensci.org/listfields?fields=Year,Genus`
- `fishbase.ropensci.org/listfields?fields=Year,Genus&exact=true`

[2015-07-21 21:06] cboettig opened #62 "Raw documentation of data (table defs, columns defs, units)"
Regardless of if/how the documentation is presented (e.g #5; though perhaps that just focuses more on defining the API itself than really documenting properties of the data), we will want a machine-readable way to store the documentation of each endpoint; that is, a description of each table and a description of each column, along with the units involved.  (Um, EML is an obvious candidate to expre

[2015-07-21 21:11] cboettig commented on #62
@sckott We should take a look and see what (if any) of this information may be embedded in the SQL itself?  It seems some SQL systems may include such help text; haven't looked into this for fishbase. (e.g. http://stackoverflow.com/questions/15161505/use-a-query-to-access-column-description-in-sql).

At very least the SQL records the object type (logical/character/integer/numeric/id and so forth)

[2015-07-21 21:17] sckott commented on #62
Right, agreed on needing a machine readable documentation mechanism

I'll have a look and see if we can get useful info from the SQL tables into the json output, I know JSON-LD has the concept of metadata around data records, but I'll see if what we can do with simple JSON first

[2015-07-21 22:35] sckott commented on #62
@cboettig here's additional info from the schema we're using in the `/listfields` route:

[code]

Seems like all we can really use form that is the data type field, seem right?

[2015-07-21 22:41] cboettig commented on #62
yup, and I think that information is available at the table level already.  Oh well, no surprise I guess.  Maybe I should ask the fishbase folks to be sure, though I'm guessing the [Fishbase Manual](http://www.fishbase.org/manual/english/contents.htm) is all there is by way of documentation.

[2015-07-24 19:01] cboettig commented on #62
@sckott I added a .csv file containing documentation for most of the tables we have endpoints for: https://github.com/ropensci/fishbaseapi/blob/master/docs/docs-sources/tables.csv

Do you think you can wrap this into the API such that we have an endpoint that will return this as a JSON object of tables, where each table has a description and a link?

The descriptions are pretty rough so far, mostl

[2015-07-24 19:15] sckott commented on #62
@cboettig nice, thanks for doing that. I started to do this, but oscon got in the way.

Yes, I think we can simply just have a route that gives the csv as json back. Do you want to replace this with the current `/listfields` route ? Or an additional route?

We could do something very RESTy like:
- `/tables/ecology`
- `/tables/countref`
- `/tables/diet`

That way `/tables` (or whatever it's called)

[2015-07-24 19:20] cboettig commented on #62
No, I think `listfields` is still useful to search for fields, particularly as it may be some time before we have all fields documented.

I like the RESTy format, but maybe it should be `/docs/ecology` etc?  and `docs` just returns the descriptions of the tables themselves (the csv I added), while `/docs/ecology` defines all the fields, units, etc in the ecology table?

[2015-07-24 19:24] sckott commented on #62
Ah, right, `/docs` makes more sense. And makes more sense to return the description of the tables.

[2015-07-24 22:59] sckott commented on #62
@cboettig Okay, pushed first run at `/docs`, just reads the csv file

Where does the data come from for each table. e.g, where does data come from for a call to `/docs/countref` ? From a manually created file/json blob, or from the SQL DB?  I imagine manual?  Should we just start with generating a json blob or csv for each table from the SQL DB, then edit those files?

[2015-07-24 23:01] cboettig commented on #62
Good question.  My idea was to just have the docs as separate .csv files in the fishbaseapi repo (e.g. `/docs/docs-sources` path, like `tables.csv`.  Yeah, a database might make more sense then just parsing .csv, but my hope is that users will find it easier to edit/correct/extend .csv files.  Does that make sense?

[2015-07-24 23:03] sckott commented on #62
By the way, here's example of `/docs` call

[code]

[2015-07-24 23:04] cboettig commented on #62
:+1: LGTM

[2015-07-24 23:04] sckott commented on #62
Yeah, makes sense to have csv files. I can get those started

[2015-07-24 23:30] sckott commented on #62
Okay, added csv files for all tables, each just has table and column name in each row of output

[code]

[code]

[2015-07-24 23:33] cboettig commented on #62
perfect, nice work

On Fri, Jul 24, 2015 at 4:30 PM Scott Chamberlain notifications@github.com
wrote:

http://carlboettiger.info

[2015-07-27 17:41] sckott opened #63 "Write local and remote tests for sealifebase"

[2015-07-27 17:44] sckott opened #64 "Fill out test suite with more robust assertions"
We mostly just test that responses were 200 status - add tests for all routes for content, and make sure all fail well

Related, we may find that we're not passing on error messages as we should be in each diff fail scenario

[2015-07-27 17:49] sckott opened #65 "Update sealifebase with new things in fishbase?"
@cboettig should we port over the `/docs` and `/listfields` routes to sealifebase?  And any other improvements to sealifebase?  Or do you want to take that case by cases basis

[2015-07-27 17:54] cboettig commented on #65
Yup, porting those sounds good.

Since the database schema is the same, much of the doc file contents may be able to carry over too.

We may need other improvements eventually, but I haven't had a chance to explore the sealifebase database enough to know what it will need. Guess we take our queues from users and/or anything that pops up in fishbase side that looks like it would transfer over.

[2015-07-27 17:56] sckott commented on #65
Okay, I can move over `/listfields` and `/docs`

p.s. well, it's not exactly the same, e.g., https://github.com/ropensci/fishbaseapi/commit/107a0fff5266a84bf6797efe6f2e656682341a10 there's no `GenCode` field in the `Species` table in sealifebase DB, whereas there is in fishbase DB

[2015-07-27 19:01] cboettig commented on #65
ha! guess I'm not surprised; no doubt we (or more likely our users) hit other schema differences that break other things, guess we just fiddle as we go along.

Presumably it would be possible to just generate some summary of the whole database schema that could be compared?  Might also help us deal with updates like when whole tables go missing (e.g. https://github.com/ropensci/rfishbase/issues/55

[2015-07-27 19:43] sckott commented on #65
right, could use that SQL query line to get all tables and fields, then `git diff` each table (and maybe also the schema)

[2015-07-27 21:32] sckott commented on #5
Okay, most recent docs now in the `api_docs.md` file in this repo https://github.com/ropensci/fishbaseapi/blob/master/api_docs.md - I think makes sense to get a apiary or other interactive console done later, when we're more set on the API design -

I'll update `api_docs.md` file as we go, closing for now

[2015-07-27 21:32] #5 closed

[2015-07-27 21:34] sckott commented on #64
see also (and fix) #44

[2015-07-29 17:25] sckott commented on #65
@cboettig how did you make this file https://github.com/ropensci/fishbaseapi/blob/master/docs/docs-sources/tables.csv  We need equivalent for sealifebase

[2015-07-29 17:40] cboettig commented on #65
Completely manually; e.g. copy-pasting bits from the FishBase manual into the spreadsheet. Not even sure where the manual is for sealifebase.

[2015-07-29 17:43] sckott commented on #65
hmm, any thoughts on what to give for the main `/docs` route then for sealifebase

[2015-07-29 18:01] cboettig commented on #65
for now, maybe just point to the fishbase version, tables.csv.  The generic descriptions will be mostly accurate

[2015-07-29 18:58] sckott commented on #65
okay, `/docs` and `/listfields` routes added to sealifebase, `/docs` for sealifebase is just the table names for now

hmm, but `/sealifebase/listfields` not working, investigating

[2015-07-29 19:06] sckott commented on #65
fixed

[2015-07-29 19:06] #65 closed

[2015-08-31 16:11] cboettig opened #66 "listfields endpoint os no longer working?"
e.g. http://fishbase.ropensci.org/listfields?fields=Temp

[2015-08-31 16:17] cboettig opened #67 "Unicode issues in common names"
See: https://github.com/ropensci/rfishbase/issues/65

[2015-09-15 15:46] jhpoelen opened #68 "invalid content-length header for api requests with limit > 1000"
hey y'all:

I've been poking around the fishbase api . . . thanks for building it!

I am observing a strange content length issue that occurs for larger requests (I am interested in getting _all_ data).

To reproduce:
`wget http://fishbase.ropensci.org/fooditems?limit=1000&offset=1600`

Expected result:
Successful download of first 1000 records in fooditems table.

Actual result:
For some reason t

[2015-09-15 15:55] sckott commented on #68
Thanks much. Haven't thought about this yet, will have a look and hopefully fix soon

[2015-09-15 16:17] sckott opened #69 "etag"
Let's perhaps use etags, should help users cache client side
- http://opensoul.org/2011/01/30/etags-with-memcached/
- http://www.sinatrarb.com/intro.html#Cache%20Control

[2015-09-15 17:01] sckott commented on #68
woops, accidentally closed

[2015-09-15 23:17] cboettig commented on #68
Hmm, I can't reproduce the error using your example; perhaps there is some interaction with network connection speed as well?  Still, I think you're correct that it's a bug.  @sckott can you reproduce? (I just ran the `wget` command on from the ubuntu-based DO box, which obviously has a good network speed).

@jhpoelen is the `offset` part of the query relevant to getting this error, or do you get

[2015-09-15 23:23] sckott commented on #68
@cboettig I could reproduce it earlier today, but after your server fix, i can't reproduce it, so I think it may be fixed

carl, we may want to roll back this commit https://github.com/ropensci/fishbaseapi/commit/131a6b07940ff6cda42dc9a0c1c10772e63b08bd if this is sorted

[2015-09-16 00:19] cboettig commented on #68
@sckott yeah, I'm not sure if the server fix actually fixed it, or if it's just a temperamental network issue. CRAN's test machines were getting some 'incomplete file transfer' errors too on a few tests I forgot to `skip_on_cran`.  let's see if @jhpoelen can reproduce before we roll back.

[2015-09-16 02:23] jhpoelen commented on #68
thanks for the quick reply. I was not able to reproduce the issue just now. Also, close inspection in the firefox "network" develop window now indicates that the content-length is the same as bytes transferred. Whatever changed . . . now the api works like a charm! Closing issue.

[2015-09-16 02:24] jhpoelen commented on #68
PS I doubt this was a network issue - I was able to get the results ok, the content-length header simply didn't reflect the bytes transferred, causing the httpclients to freak out.

[2015-09-16 03:20] sckott commented on #68
@jhpoelen we ended up having a problem on the server where our disk was full. That somehow caused larger requests to not be handled correctly.

[2015-09-16 17:50] sckott commented on #66
seems to be fine for now, will reopen if it starts failing agin

[2015-09-16 17:50] #66 closed

[2015-09-16 18:16] jhpoelen commented on #68
Unfortunately, it seems that the issue is still occurring.

To reproduce:

[code]

[2015-09-16 18:20] sckott commented on #68
@jhpoelen works for me, 3 times in a row, works fine with `curl` too

is it repeatedly failing for you?

[2015-09-16 18:27] jhpoelen commented on #68
Weird!

I tried again, and this time the issue occurred a bit later:

[code]

Could it be that the server is timing out long lasting downloads?

[2015-09-16 18:30] jhpoelen commented on #68
It is failing pretty consistently on my end . . . here's more logs:

[code]

[2015-09-16 18:46] sckott commented on #68
can you do the same with `curl -v` verbose so I can see the headers returned

[2015-09-16 18:55] sckott commented on #68
@jhpoelen what's your connection speed like where you are?

[2015-09-16 19:00] jhpoelen commented on #68
My (home) connection has ~ 3.3 Mbps according to speednet.net .

For some reason, now the issue no longer occurs. ; (  Both curl -v and wget succeeded fro species?limit=5000&limit=0 _and_ species?limit=5000&limit=1 .

Here's the verbose curl output for successful run:

[code]

[2015-09-16 19:01] jhpoelen commented on #68
Perhaps the nginx caching directory that sporadically running out of disk space?

[2015-09-16 19:35] sckott commented on #68
Thanks for that.

perhaps, we'll look into it.

[2015-09-20 19:48] sckott commented on #62
seems like we've sorted this out, @cboettig re-open if not

[2015-09-20 19:48] #62 closed

[2015-09-20 19:50] sckott commented on #51
I vote for swagger or something like that. Have set up in part the swagger document, but not tried to get it running on the server yet.

[2015-09-30 16:21] cboettig opened #70 "Add endpoint to access/download images of fish"
(user request)

[2015-10-06 19:06] jhpoelen opened #71 "bad gateway - api seems unavailable"
Hi!
Was just taking another stab at using the fishbase api and got an unexpected ```{"error":"route not found"}``` in response to http get for ```http://fishbase.ropensci.org/refrens?limit=1000&offset=0```.

Is api down for maintenance?

See screenshot.
![screen shot 2015-10-06 at 12 03 31 pm](https://cloud.githubusercontent.com/assets/1084872/10319349/a0dc021a-6c22-11e5-9cfe-2553dcba9b8e.png)

[2015-10-06 19:12] sckott commented on #71
that works for me. is it still not working?

[2015-10-06 19:15] sckott opened #72 "fishbase API future"
A quick FYI to all watching this repo:

Some nice folks are working with us to do an overhaul of the API codebase, and provide better hosting for the API (see fork https://github.com/FiN-FBSLB/fishbaseapi )

In the meantime, we'll try to fix major things, but some of the less urgent things we'll wait on

[2015-10-06 19:28] jhpoelen commented on #71
Weird! Now it is working again. For me, this issue and #68 seem to suggest that the api starts acting funny when it is used heavily. Do you have any logs that point to a cpu getting burnt or memory getting full?

[2015-10-06 19:28] jhpoelen commented on #71
(by burnt i mean 100% cpu usage)

[2015-10-06 19:34] sckott commented on #71
yeah, we have been hitting 100% Cpu occasionally. We've talked about getting a bigger box. @cboettig should we do that

[2015-10-06 20:02] jhpoelen commented on #71
Ok. 100% cpu usage spikes would be a reasonable explanation for #71 and perhaps even #68 .

At risk of sounding like a broken record: my use case is to use _all_ data from endpoints like: species, refrens, fooditems, predats. Right now, I have to download all this in chunks of ~1000-5000 records, resulting in hundreds of requests. Instead, I was hoping that the api could provide a link to a file (

[2015-10-06 20:35] sckott opened #73 "Provide dumps of an entire endpoint via API"
from #71 -

* Does fishbase prefer we don't do this?
* From an API design standpoint, I at least don't see this kind of thing in an API, but some may
* Seems like dumps would be better to provide from S3 perhaps

[2015-10-06 20:35] sckott commented on #71
Hmm, we are going through some changes #72 - so this is a good time to think about whether we want to provide dumps.

opened a new issue re: dumps #73

[2015-10-06 21:21] jhpoelen commented on #71
Thanks! Looking forward to the outcomes.

[2015-10-09 00:10] sckott commented on #73
thoughts @EvilScott @cboettig on this?

If people are interested in dumps of a lot of data, for example for a whole route, 1) does Fishbase want to allow that from this API, 2) if Fishbase is okay with it, is that something an API would do, or better to serve via S3 (with automated pushes to S3 when we get updated SQL dumps)

[2015-10-09 00:10] sckott commented on #72
see now #74

[2015-10-09 00:18] sckott commented on #70
Do you have some example URLs for images?

And how would users use the route?  I assume they'd need to pass in a ID (uuid, or something else) for the images?

Also, we/vulcan folks aren't hosting images, right?  So I guess we can have the route, and 303 redirect to the right place

[2015-10-09 00:26] sckott opened #75 "Logging"
after chatting with @EvilScott - we may want to change our logging strategy - I'll have a chat with their devops person at some point to hash this out

[2015-10-09 00:26] sckott commented on #51
we'll stick with markdown docs for now in this repo

[2015-10-09 00:26] #51 closed

[2015-10-09 04:06] cboettig commented on #70
I think they might actually have images in one of the SQL tables but
haven't checked recently

On Thu, Oct 8, 2015, 5:18 PM Scott Chamberlain notifications@github.com
wrote:

http://carlboettiger.info

[2015-10-09 21:22] sckott commented on #70
you mean links right, not images themselves

[2015-10-15 19:12] MollsReis commented on #73
This kind of data dump is best served via an independent S3 download. Just be mindful of bandwidth costs.

[2015-10-15 19:14] MollsReis commented on #75
good approach: ask yourself what are the things you need logged and why. the geolocation was neat, but are you using it? default nginx server logging should log any errors and requests by default.

[2015-10-15 23:01] sckott commented on #73
Thanks, glad I was on the right track. Now to see if Fishbase want to allow it.

[2015-10-15 23:04] sckott commented on #75
Right. We may not need geolocation.

[2015-10-22 17:43] sckott commented on #73
@cboettig Do you know if Fishbase folks are interested in allowing any kind of dumps via S3?

[2015-10-22 17:55] cboettig commented on #73
No idea, but we should ask.

Just cc'd you on a follow up to that user email yesterday, in which FishBase folks highlight that some of the tables aren't really up-to-date anyway. Not sure if that would influence there willingness to have people downloading by dump.

[2015-11-09 21:44] cboettig commented on #71
@jhpoelen thanks for the reports here, closing this since it looks like the remaining issue is now #73 instead of `bad gateway`.  Meanwhile do ping us back here if you hit more bad gateway errors

[2015-11-09 21:44] #71 closed

[2015-11-09 21:51] cboettig opened #76 "docs endpoint down /missing since transition?"

[2015-11-09 22:02] sckott commented on #76
hmm, `/docs/:table` is there though,

[2015-11-09 22:03] cboettig commented on #76
interesting.  but there used to be an overall docs endpoint with summaries of each table I think too...

[2015-11-09 22:17] sckott commented on #76
Looking at the old code

[2015-11-09 22:23] sckott commented on #76
Code is all there, just not reading the table correctly when `/docs` is called, debugging locally

[2015-11-09 23:09] sckott opened #77 "Toggle show_exceptions at some point"
e.g.,

[code]

[2015-11-09 23:22] sckott commented on #76
it may be that the `tables.csv` file has non-ascii text in it

[2015-11-09 23:25] sckott commented on #76
`/docs/occurrence` is 404'ing, but hopefully that just requires the update database?

[2015-11-10 00:57] sckott commented on #76
Hmmm, I think i fixed the non-ascii problem, but now stack trace gives `<CSV::MalformedCSVError: Missing or stray quote in line 35>` -

[2015-11-10 00:57] sckott commented on #76
fixed

[2015-11-10 00:57] #76 closed

[2015-11-18 17:46] cboettig opened #79 "Unexpected error when specifying fields"
@sckott @EvilScott Since our merge, some of the API calls are giving me MySQL errors I didn't expect.  For instance:

This call works:

http://fishbase.ropensci.org/spawning?SpecCode=77&limit=200&fields=SpecCode%2CSpecCode%2CJan%2CFeb%2CMar%2CApr%2CMay%2CJun%2CJul%2CAug%2CSep%2COct%2CNov

But add `Dec` to the list of fields and it fails:

http://fishbase.ropensci.org/spawning?SpecCode=77&limit=200

[2015-11-18 19:14] sckott commented on #79
Not sure, I'll take a look soon

[2015-11-18 22:49] MollsReis commented on #79
"Dec" is a reserved word in MySQL; just need to wrap the column names with back ticks

[2015-11-18 22:51] MollsReis commented on #79
Taking a quick look at the code; this is something I would think ActiveRecord should have handled on its own

[2015-11-18 22:58] MollsReis commented on #79
https://github.com/ropensci/fishbaseapi/blob/master/models/base.rb#L23

This #select method should probably be given an array of fields surrounded in backticks. Try something like this:

[code]

[2015-11-20 20:26] sckott commented on #79
thanks @EvilScott will try taht

[2015-11-20 20:52] cpetrik commented on #79
Are there any other reserved words I should be conscious of putting backticks around? Also, do all the calls/functions require fields to be specified now?

[2015-11-20 20:55] sckott commented on #79
@cpetrik Are you using this API directly?  I think we can take care of that for you, so you shouldn't have to worry about what fields to backtick and which not, just pass in fields

no, the default is all fields

[2015-11-20 21:22] cpetrik commented on #79
I am using rfishbase with options(FISHBASE_API = "http://fishbase.ropensci.org"). I have been having a few problems.
- I saved a list of validated names from a month or so ago and now when I try validating them again it comes up NULL.
- when I don't specify fields (fish 121 is Gadus chalcogrammus):
  spawn<-spawning(fish[121])
  Warning message:
  In error_checks(parsed, resp = resp) :
  Mysql2::E

[2015-11-20 21:36] cboettig commented on #79
@cpetrik Thanks. The second error you list should be fixed in the latest dev copy of fishbase,

[code]

@sckott the new API doesn't like a blank `&fields=`, even though the old API was okay with it.  Maybe we can strip blank queries to avoid these MySQL syntax errors?

@cpetrik Re the validate names, that's weird.  Can you give me some minimal code to reproduce the example (e.g. a call to validate

[2015-11-20 23:48] sckott commented on #79
@cboettig Okay, pushed a change, not on server though.

My testing shows now allows reserved words given backticks, and does parsing of html escaped input query values.

@EvilScott can't figure out how to drop query params that are empty/`nil` e.g., specified as `fields=` or `fields` in the url request. Any ideas?

[2015-11-21 05:59] cboettig commented on #79
@sckott Nice, thanks!  Feel free to deploy to server when you get a chance.

Re dropping empty parameters, my guess would be that you might be able to do some parsing/sanitization on request before it gets passed to MySQL to drop them. I suppose you could regex out things like `&\\w+=$` or `(&\\w+=)&` kind of thing, but perhaps there's something less hacky.  Anyway, the patched `rfishbase` client

[2015-11-22 03:04] sckott commented on #79
@cboettig I can't login to the server, did you change something?

[2015-11-22 03:55] cboettig commented on #79
Are you using the IP address?  Try just using fishbase.ropensci.org, and
recall user is ubuntu

On Sat, Nov 21, 2015, 7:04 PM Scott Chamberlain notifications@github.com
wrote:

http://carlboettiger.info

[2015-11-24 19:31] MollsReis commented on #79
@sckott do you want to open a new issue for dropping empty query params with some examples?

[2015-11-24 19:34] sckott commented on #79
sure

[2015-11-24 19:49] sckott opened #80 "Drop empty query parameters"
Some examples:

example 1

[code]

example 2

[code]

[2015-11-24 22:17] EvilScott opened #81 "config.yaml is no longer gitignored"
Wondering why you chose to remove `config.yaml` from `.gitignore`. The typically accepted pattern is to git ignore files with sensitive data or (in our case) data that may change from user to user.

[2015-11-24 22:27] cboettig commented on #81
Right, but in our deploy method this is not sensitive data (mysql servers aren't publicly facing), nor would it be necessary to change these from user to user; `docker-compose up` should work just as well locally as when deploying on the server.  Does that make sense?  (I do realize you're probably a lot more experienced in this, so feel free to correct me -- but this does avoid manually recreatin

[2015-11-24 23:04] MollsReis commented on #81
Ultimately its your repo and your decision, but connection info typically is not stored as part of the code in the repository (regardless of sensitivity) as a practice. The `config_template.yaml` is provided so a user can quickly and easily create their own `config.yaml` without changing the source (according to git).

For instance, my connection info is different than yours. I can update `config.

[2015-11-24 23:05] MollsReis commented on #80
The code currently checks for `nil` but it looks like it needs to check for empty string as well (or maybe just coerce the value to a boolean and check for `false`).

[2015-11-24 23:12] MollsReis commented on #80
https://github.com/ropensci/fishbaseapi/blob/master/models/base.rb#L10 :

[code]

The update below should resolve the issue.

[code]

[2015-11-24 23:30] cboettig commented on #81
Right, the current approach isn't compatible with quick deployment for cases like yours where you already have running mysql instances, which you very sensibly consider as something external.

 But your connection information would not be different if you were content to just use the dockerized mysql containers and launch the thing with `docker-compose`.  As we've been testing on a few different s

[2015-11-25 00:04] sckott commented on #80
@EvilScott Great, thanks, will do that

[2015-11-25 02:39] sckott opened #82 "Error responses are being cached"
Seems like we should just give back the JSON with error message, and not cache it in Redis, right?

Or am i missing something.

@EvilScott @cboettig

[2015-11-25 02:54] sckott commented on #80
fixed

[2015-11-25 02:54] #80 closed

[2015-11-25 04:17] cboettig commented on #82
right, that makes sense to me.

[2015-11-25 06:50] #63 closed

[2015-11-25 06:50] #57 closed

[2015-11-26 02:22] sckott commented on #82
ah, looks like caching is setup to only cache 200 successful requests https://github.com/ropensci/fishbaseapi/blob/master/api.rb#L44

When I was looking at this a bunch of requests were failing due to Ruby errors, not server errors, so I guess those were being cached as they were returning 200

will look into this more

[2015-11-30 20:22] cboettig opened #83 "Inconsistent keys in fishbase tables"
Looks like some tables, such as `maturity` table, have the Species Code as `Speccode` instead of `SpecCode`.

`rfishbase` uses a generic function to call endpoints by Species Code, since most tables are keyed by Species Code and this avoids a lot of repetitive code.  I could try and handle these cases explicitly, but a general server-side solution might be better.  @EvilScott any ideas on how best

[2015-11-30 22:17] MollsReis commented on #81
Works for me :smile:

[2015-11-30 22:17] #81 closed

[2015-11-30 22:18] MollsReis commented on #82
Can you give some examples of error URL/responses that have been cached?

[2015-11-30 22:20] MollsReis commented on #83
Yuck, this is why its best to always use all lowercase in DB design :smile:

I'll look into it. :+1:

[2015-11-30 22:29] MollsReis commented on #83
I was just converted to full-time at Vulcan :tada: so I have some new-hire stuff to go through this second, but if you want to take a whack at it yourself I'd check out the `Base#endpoint` method [here](https://github.com/ropensci/fishbaseapi/blob/master/models/base.rb#L7). The result hash keys need to be examined and the `Speccode` key changed to `SpecCode`.

[2015-11-30 22:29] sckott commented on #83
Weird, in mysql console locally, I can use `Speccode` or `SpecCode` and I get the same result - Maybe it's something in activerecord? just guessing

[2015-11-30 22:39] sckott commented on #82
I've fixed the previous bugs, looking for others

[2015-11-30 22:42] sckott commented on #82
hmm, would have thought this would throw an error http response, gives error message at least

[code]

and this, path doesn't exist

[code]

since these are both 200 responses, they get cached.

[2015-11-30 22:57] MollsReis commented on #82
It seems to me that the best place to fix this would be changing the status to a 4XX (400 is probably fine) [here](https://github.com/ropensci/fishbaseapi/blob/master/api.rb#L110). IIRC just adding `status 400` as a line inside the `rescue` block should do it.

[2015-11-30 23:01] MollsReis commented on #83
It may also be a setting that is specific to your MySQL instance. I know our DevOps guy had to change a bunch of settings to get the FB site to run correctly due to a number of casing issues.

I inspected the schema and FB indeed does use `Speccode` in some places and `SpecCode` in others. MySQL may allow for case insensitivity when querying, but processes that ingest that data may not be case ins

[2015-11-30 23:14] cboettig commented on #83
All for standardizing on lowercase if possible.  And all the better if this can get standardized / sanitized further upstream in the database.

[2015-11-30 23:15] cboettig commented on #83
and @EvilScott , :clap: :fireworks: for converting to full time!

[2015-11-30 23:18] sckott commented on #83
missed that, congrats @EvilScott on full time!

[2015-11-30 23:36] MollsReis commented on #83
Thanks guys :smile:

I'd love to push up for FB to use lowercase in the DB, but looking at the web code they are pretty heavily using camel case in the PHP code when hitting MySQL. So I don't know if we can count on a good standardization happening anytime soon :grimacing:

[2015-12-01 17:23] cboettig commented on #83
@sckott Do you have a list handy of tables that use `Speccode` (or perhaps other forms of capitalization) instead of `SpecCode`?  May as well fix that on the `rfishbase` client meanwhile.

[2015-12-01 17:34] sckott commented on #83
just a sec

[2015-12-01 17:54] MollsReis commented on #83
http://fishbase.ropensci.org/listfields?fields=Speccode&exact=true
http://fishbase.ropensci.org/listfields?fields=SpecCode&exact=true

Note that not all of these tables has a corresponding model in ActiveRecord.

[2015-12-01 18:28] sckott commented on #83
here's a `jq` version using the API

`http 'http://fishbase.ropensci.org/listfields' | jq  '.data[] | select(.column_name | match("speccode"; "i"))' | jq -s`

[code]

[2015-12-01 18:42] cboettig commented on #83
ah, of course, `listfields` is handy for this,  thanks! We'll get these changes into `rfishbase` at least.

[2015-12-01 18:44] cboettig commented on #83
@sckott @EvilScott Do you think it's worth trying to address this on the API end or shall we just close this?  Not really a bug since the keys are different in the database, but certainly a gotcha for anyone trying to navigate the API.

[2015-12-01 18:58] sckott commented on #83
I guess we could lowercase all keys. Do you think that's a bad idea @EvilScott

[2015-12-01 19:56] MollsReis commented on #83
@cboettig thats true. someone may actually expect things to be the "proper" cases and if we change it we may be screwing up someone else's code :grimacing:

@sckott lowercasing all keys on the API or the R library?

[2015-12-01 20:03] sckott commented on #83
@EvilScott lowercase the keys in the JSON returned from the API

[2015-12-01 23:07] MollsReis commented on #83
@sckott i think its correct, but its a judgement call that you guys need to make.

[2015-12-01 23:11] sckott commented on #83
@cboettig thoughts on lower-casing keys in all data output by the API?  Don't know yet what performance hit we'll take, but hopefully minimal

[2015-12-01 23:54] cboettig commented on #83
Probably better to just stick with what the database gives us.  Changing the output won't avoid the original problem here (we'd have to do something about mapping _input_ queries), and might be inconsistent if user somehow expect the capitalization used in the underlying data..

I do wonder if we should do something to the https://github.com/ropensci/fishbaseapi/blob/master/models/base.rb#L7 metho

[2015-12-02 01:59] sckott commented on #82
I'll try that

[2015-12-07 22:05] cboettig opened #84 "sealifebase taxa endpoint just throws an error"
Getting an error on: http://fishbase.ropensci.org/sealifebase/taxa

[code]

The fishbase version seems okay: http://fishbase.ropensci.org/taxa

Not sure what's going wrong -- are their significant differences between the schemas of sealifebase and fishbase now?  (I believe this endpoint was working prior to #74, but not certain).

Issue originally reported via https://github.com/ropensci/rfishbase

[2015-12-08 10:45] sckott commented on #84
Bummer. I'll take a look soon

[2015-12-08 11:29] sckott commented on #84
Weird, the column is definitely there

[code]

[2015-12-08 13:16] sckott commented on #84
I think I see the problem.  The code for the `/taxa` route for sealifebase was different in the old API, so we need diff. code for `/` vs. `/sealifebase` - I'll see about doing that

[2015-12-17 20:04] #84 closed

[2015-12-17 20:58] sckott commented on #83
@EvilScott been playing with this. Seems that with activerecord, we're fine with queries passed to `fields` as case doesn't matter there, but on the `where` statement, it does matter. Can we implement a `LIKE` statement with `activerecord::where`? From my googling, that seems like it would be case insensitive.

[2015-12-17 21:31] sckott commented on #79
think this is sorted, reopen if not

[2015-12-17 21:31] #79 closed

[2015-12-17 21:32] #82 closed

[2015-12-17 23:53] MollsReis commented on #83
@sckott I'm confused. I thought the issue was the inconsistencies in casing returned from the DB, not querying the DB. Where do you need to implement a LIKE statement?

[2015-12-18 00:12] sckott commented on #83
I think we have problems in querying, not just data returned

In the `where` statement, it is case sensitive, so the call

http://fishbase.ropensci.org/maturity?SpecCode=4

doesn't actually work as the where statement returns data, but as you can see the results don't match `4`

Actually it does appear that `select` statement to return certain fields is case sensitive too, e.g.,

http://fishbase.r

[2015-12-18 00:32] MollsReis commented on #83
Hrm, interesting. That adds another wrinkle

[2015-12-18 00:38] MollsReis commented on #83
OK so first part is the issue with the WHERE clause. We are using params that are included in the column list. [Here is the code](https://github.com/ropensci/fishbaseapi/blob/master/models/base.rb#L25). The kicker is `Array#include?` is case sensitive:

[code]

So we may still be able to use case insensitive in our querying, but with that `select` block it may be excluding valid params.

[2015-12-18 00:43] MollsReis commented on #83
For the SELECT clause I'd guess a similar issue is [here](https://github.com/ropensci/fishbaseapi/blob/master/models/base.rb#L23) in the place where we are making a list of fields. Off chance: it may also have to do with wrapping the field name in backticks.

[2015-12-18 01:42] sckott commented on #83
Thanks, that's helpful.

Right, we did that b/c of https://github.com/ropensci/fishbaseapi/issues/79#issuecomment-157890188

I guess we wouldn't need backticks if there weren't reserved words in the tables, but we can't change that

[2015-12-18 17:59] MollsReis commented on #83
I just tested backticks with my local MySQL DB and it doesn't seem to make a difference.

[code]

returns the same rows as:

[code]

The only difference is the column name of the result, `classnum` vs `ClassNum`. Hopefully this means if we make the `#include?` check case insensitive (easiest to accomplish by downcasing the needle and the haystack both) then this should solve both problems.

[2015-12-18 18:39] sckott commented on #83
is this most efficient `x.collect { |x| x.downcase }`

[2015-12-18 18:57] MollsReis commented on #83
Ruby protip incoming:

[code]

http://stackoverflow.com/questions/1217088/what-does-mapname-mean-in-ruby

[2015-12-18 19:43] sckott commented on #83
nice

[2016-01-26 01:31] sckott opened #85 "Add more info to the ecosystem route?"
e.g., `select E_CODE,EcosystemName,EcosystemType from ecosystemref limit 5;` just a few columns from the `ecosystemref` - which we could merge into the ecosystem table and route on the API - in response to user request to know more about what ecosystems are returned.

[2016-02-03 17:32] sckott opened #86 "count values are not accurate"
`count` should be the number found in the database, not the number returned, which is what `returned` gives

for some reason in `api.rg` the returned object  is `{ count: data.length, returned: data.length, data: data, error: nil }.to_json`, so `count` and `returned` are the same thing

[2016-02-03 17:33] sckott commented on #86
what we used previously to get a count value https://github.com/ropensci/fishbaseapi/blob/dd4927a1d9bad5cbccbd18d6607bb52518c7b7f7/api.rb#L570-L574

[2016-02-03 17:42] sckott commented on #86
@EvilScott any ideas on how to do this with ActiveRecord

[2016-02-03 17:49] sckott commented on #85
added, but
- [x] still need to test for sealifebase - does work with sealifebase https://fishbase.ropensci.org/sealifebase/ecosystem
- [x] should check if differences with the `/taxa` route are okay
- [x] speccode queries don't work

[2016-02-03 18:41] MollsReis commented on #86
@sckott shouldn't be too difficult. what is the expected value? total count of rows in the table? its not really clear what that old method is doing

can you post some example usage/output with desired usage/output in this thread?

[2016-02-03 18:44] sckott commented on #86
The expected value is the number of results found for the query given by the user. So it's the same query as passed to get the actual hash/data, but we just want a row count

e.g., using the Crossref API http://api.crossref.org/works?query=lion&rows=0  we want the value `total-results` from the result

[code]

[2016-02-03 19:19] sckott commented on #83
@EvilScott I got something to work so that case is ignored

[code]

However, other params passed in the query e.g., `limit` make the query fail with `no implicit conversion of Symbol into String` - Is there something obvious I can do to fix

[2016-02-03 19:22] MollsReis commented on #86
I'm a bit confused. What's the difference between the number return by the query and the count of the query? I'm not entirely sure what is desired here.

[2016-02-03 19:23] MollsReis commented on #86
Here is the ActiveRecord documentation on `#count` http://api.rubyonrails.org/classes/ActiveRecord/Calculations.html#method-i-count

[2016-02-03 19:26] sckott commented on #86
in the crossref api eg., `total-results` is total number found given the query - but zero results were returned as I set `rows=0` - does that still not make sense

[2016-02-04 19:32] MollsReis commented on #86
oh oh oh! i see. so basically count if we weren't providing a limit.

[2016-02-04 19:41] MollsReis commented on #86
sorry it took me a moment to grok it; change [this line](https://github.com/ropensci/fishbaseapi/blob/master/api.rb#L110) to:

[code]

[2016-02-04 19:43] MollsReis commented on #83
If you just `#to_s` on the things you are comparing you should be fine:

[code]

[2016-02-04 20:19] sckott commented on #86
thanks, i'll try that

[2016-02-04 20:19] sckott commented on #83
ah, thanks, will try

[2016-02-04 22:13] sckott opened #87 "taxa and ecosystem routes need limit max enforced"
other routes have this, but `/taxa` and `/ecosystem` are implemented separately. enforce limit max with them

[2016-02-04 23:01] #83 closed

[2016-02-04 23:01] #86 closed

[2016-02-04 23:01] #87 closed

[2016-02-04 23:01] #85 closed

[2016-02-04 23:27] MollsReis commented on #86
sweet :smile_cat:

[2016-02-04 23:27] MollsReis commented on #83
excellent :grinning:

[2016-02-04 23:33] sckott commented on #86
:rocket:

[2016-02-04 23:33] sckott commented on #83
:bullettrain_side:

[2016-02-09 15:16] sckott commented on #85
@cboettig do you know what the ecosystem names used in Fishbase are based on?  Is it their own internal system, or perhaps based on some standard system?

[2016-02-16 20:30] sckott opened #88 "test suite failures"
@EvilScott any ideas?  https://travis-ci.org/ropensci/fishbaseapi/builds/107916052#L144-L149

I'm not familiar with nulldb tests, and so not sure where something is going wrong. thoughts?

[2016-02-16 23:03] MollsReis commented on #88
its basically a way to stub out the DB dependency. i'll look into it

[2016-02-16 23:07] sckott commented on #88
thanks!

[2016-02-16 23:23] MollsReis commented on #88
check out #89

[2016-02-17 00:47] #88 closed

[2016-02-24 21:54] sckott commented on #67
emailed fishbase folks and vulcan...

[2016-02-24 22:58] sckott opened #90 "diet route needs special handling for sealifebase"

[2016-02-24 23:08] #90 closed

[2016-03-11 18:03] sckott opened #91 "Ignore case completely in fields parameter"
Is there any reason to care about case at all?  e.g., why not let `SpecCode`, `Speccode`, and `speccode` all work?  Will see if there's any tables with fields with the same name but different cases

[2016-03-11 18:04] sckott commented on #73
closing for now, can reopen later if Fishbase is okay with slash there's a big need for it

[2016-03-11 18:04] #73 closed

[2016-03-11 18:13] sckott commented on #91
from ropensci/rfishbase#90

[2016-03-11 18:27] cboettig commented on #91
good question, I don't think there's any situation where case matters, so that's probably a good fix

[2016-03-11 18:29] sckott commented on #59
WRT searching anywhere in the DB, I imagine Solr is our best bet, or ES as long as we're sure it can be secured properly. Guess it's a matter of whether we want to put in the effort for this

[2016-03-11 18:29] sckott commented on #91
cool, will make sure it won't break anything first

[2016-03-14 23:56] sckott opened #92 "Duplicates in genera table"
E.g.,

[code]

[code]

[code]

So at least in this example there are some real differences between this pair of duplicates for the genus _Lanceola_

The problem is at least this: when we're getting data for the `/taxa` route, we merge data form the `species` and `genera` (and `families`) tables, and we merge on genus name from `species` to `genera` tables because `species` table has no genus code

[2016-03-15 17:03] sckott opened #93 "add metadata to docs/ csv tables"
from jhpoelen/fb-osmose-bridge#27

[2016-03-15 23:42] sckott commented on #93
sorted

[2016-03-15 23:42] #93 closed

[2016-03-24 17:24] sckott opened #94 "/x/:id routes ignore fields, other params"
here https://github.com/ropensci/fishbaseapi/blob/master/models/base.rb#L20

meed to allow to pass in `fields` at least

[2016-03-24 17:25] sckott commented on #94
related to ropensci/rfishbase#97

[2016-03-24 17:34] #94 closed

[2016-04-04 17:55] sckott opened #95 "occurrence route doesn't exist anymore"
drop from api

[2016-04-04 17:55] sckott commented on #95
see also ropensci/rfishbase#100

[2016-04-04 17:56] #95 closed

[2016-04-12 23:48] sckott opened #96 "add `countrysub` and `countrysubref` tables to API"

[2016-04-12 23:49] #96 closed

[2016-06-24 18:08] jhpoelen opened #97 "sealifebase taxa available in api, but not through web"
When searching for taxa using https://fishbase.ropensci.org/sealifebase/taxa?limit=1 , the response is

[code]

When attempting to resolve the specode 70200 to a sealifebase page, the related page, http://sealifebase.org/summary/Abrocoma-bennettii.html, displays the following message:

[code]

I would expect that only taxa with associated information would be included in the list of taxa.

Is ther

[2016-06-24 18:10] jhpoelen commented on #97
@dengaloo just curious - is this by design (see above)?

[2016-06-24 18:52] Dengaloo commented on #97
@jhpoelen yes this means that the name that you are looking for is not yet used in SLB, that is we have not uploaded it from the Catalog of Life. This may mean two things, 1) that the name has a problem and was thus not ingested into our system - meaning that we might need to verify with WoRMs; or 2) that we do not have any information for that species at the moment.

[2016-06-24 19:04] Dengaloo commented on #97
@jhpoelen Skit will be able to tell us how we can filter out these scientific names which were not ingested by SLB. I forget the field, but there is one.

[2016-06-24 19:16] sckott commented on #97
thanks for the issue @jhpoelen - looks like we can include in the api docs how to filter these out once we know what that field is

[2016-06-24 20:38] jhpoelen commented on #97
Having a way to select only the SLB taxa would be great . . . @FIN-JBarile could you please share which field indicates whether a taxon is included in SLB?

[2016-06-27 03:37] FIN-JBarile commented on #97
Hi. @jhpoelen You have to link the SPECIES table to the STOCKS table to get the list of names that have more information other than what is available in the SPECIES table. (SELECT SPECIES.SpecCode, SPECIES.Genus, SPECIES.Species
FROM SPECIES INNER JOIN STOCKS ON SPECIES.SpecCode = STOCKS.SpecCode;
)

[2016-06-27 15:39] jhpoelen commented on #97
@FIN-JBarile thanks for your suggestion. In order to make this work with the existing fishbase api, I'll have to download all species, all stocks through the ropensci fishbaseapi, and perform the join using some customized code. I cannot execute the query you provided against the web api. ; (. I expect this method to be slow and error-prone. But hey, if that's what we have, that's what I'll work w

[2016-06-27 16:39] sckott commented on #97
@jhpoelen I don't think our API is really that slow for the proper use cases - it seems like you often want to get all Fishbase data, correct? which is not a good use of a web API

We can edit or create a new endpoint incorporating the SQL statement above to solve the use case here

[2016-06-27 17:37] jhpoelen commented on #97
@sckott Yep, most use cases I deal with concern processing _all_ data from a specific source. In this case it is spec codes from Fishbase and SeaLifeBase. And, I also agree that a web api is not really a suitable method for doing these kinds of whole dataset analysis. However, the fishbase api (which is great by the way!) is the only publicly available method to access fishbase data without revert

[2016-07-01 19:01] jhpoelen commented on #97
@sckott I took some time to write a tool (see https://github.com/jhpoelen/fishbase_archiver/) that enables batch data processing needed for name linking to fishbase and sealifebase. Curious to hear your thoughts on this.

Because this tool and the resulting archives allow me to do necessary transformation / joins, I am closing this issue. Thanks all for chiming in!

[2016-07-01 19:01] #97 closed

[2016-07-01 19:06] sckott opened #98 "New route: linking species and stocks tables"
from #97

[2016-07-01 19:07] sckott commented on #97
#98

cool - will have a look, have vacation next week, but when I get back

[2016-07-01 19:12] jhpoelen commented on #97
Great - hope you'll have a nice break. Will be out hiking for most of July myself, so no rush on my end, just curious to hear your thoughts at some point.

Also - the api was plenty fast for downloading compressed chunks of 5k rows - nice!

[2016-07-01 19:18] sckott commented on #97
oh good!

[2016-08-24 17:51] jhpoelen opened #99 "certificate used for https not trusted by JVMs older than java 8 b101"
If I understand it correctly, the fishbase api generated certificates using https://letsencrypt.org to support https. Unfortunately, most JVMs do not yet trust the Let's Encrypt root certificate.

from http://stackoverflow.com/questions/34110426/does-java-support-lets-encrypt-certificates
[code]

So, the hopefully the issue will go away eventually.

This is what the error looks like:
[code]

[2016-08-24 17:56] cboettig commented on #99
Thanks, yup, that's annoying, though like you say best addressed on their end. Thanks for linking to the stackoverflow post, looks like the issue is resolved for the latest java versions anyhow?

[2016-08-24 18:00] jhpoelen commented on #99
@cboettig Yep, most recent version of oracle java 8 jvm  fixes this. I guess I just needed to vent a little ; ) .

Would it be an idea to mention this the fishbase api readme and point to this (now closed) issue?

[2016-08-24 18:00] #99 closed

[2016-08-24 19:13] sckott commented on #99
@jhpoelen yep, can do that

[2016-09-16 18:04] sckott commented on #55
we're not using ES anymore, correct?  @cboettig if so, i'll close this

[2016-09-16 18:05] sckott commented on #7
pretty much done with this now that we're using activerecord

[2016-09-16 18:05] #7 closed

[2016-09-16 18:06] sckott commented on #53
don't think we're going to get to this, closing

[2016-09-16 18:06] #53 closed

[2016-09-16 18:07] cboettig commented on #55
Yup

[2016-09-16 18:07] #55 closed

[2016-09-19 20:42] sckott opened #100 "New route: recruitment table"

[2016-09-20 14:35] sckott commented on #100
not doing after all

[2016-09-20 14:35] #100 closed

[2016-09-20 15:53] sckott opened #101 "log file rotation?"
https://caddyserver.com/docs/log log file rotation might be a good idea. i think the current log file is like 1.2 gb, e.g, could do

[code]

which after 10 mb, starts a new log file, etc.

[2016-10-10 03:17] cboettig opened #103 "api calls for returns exceeding the max limit?"

[2016-10-10 03:19] cboettig commented on #103
In an email from a user:

[code]

Can we increase the query limit or is there another way around this?  Given the example I don't see how the query itself could be refined.

[2016-10-10 18:20] sckott commented on #103
thanks @cboettig - i'll have a look.

[2016-10-10 20:55] sckott commented on #103
in `endpoint()`, we're looping over species codes, and for each species not allowing `offset` param AFAICT, so for each taxon, seems like 5000 results is as much as you can get. whereas if we allowed `offset`, it should work to get more.

e.g.,

[code]

[2016-10-10 21:15] cboettig commented on #103
Nice, can you PR rfishbase to permit an offset?  Or maybe better for rfishbase to handle pagination of returns automatically if limit > 5000?

[2016-10-10 21:30] sckott commented on #103
yeah, can do

[2016-10-12 20:46] cboettig commented on #103
since this is an rfishbase problem and not an api problem I'll close this and move it there.

[2016-10-12 20:46] #103 closed

[2016-10-12 20:58] sckott commented on #103
thanks

[2016-11-16 12:34] seb-luke commented on #99
Hi!

Based on your responses I updated to Java 8u112, but I still get the certificate error whenever I connect to a website protected by a letsencrypt ssl. Could you have any idea why?

[2017-02-04 02:41] sckott opened #104 "version database"
Then provide parameter to query based on a certain date for reproducible results

@cboettig worth trying? we sometimes talk about this, but DBs seem to never be versioned, but we can try with this

[2017-02-04 03:18] cboettig commented on #104
Good idea.  We could at least emulate this by keeping each snapshot we get from them online at a versioned endpoint in the API.  Should probably work to them about following some more regular snapshot interval as well, so far I think we've just been asking for an update whenever a user complains about our version being out of date

[2017-02-04 07:09] sckott commented on #104
Right, that's what I meant by versions, just snapshots - hopefully there's a formal way to swap DB versions quickly

If there's a way to get updates more often, that'd be great, but can keep going as we are if not

[2017-02-04 18:14] cboettig commented on #104
I think we should import each to a separate SQL DB, and then edit the rest API to take an argument which we use to select the right database, just like we currently do to choose between fishbase and sealifebase.  Does that sound workable?

[2017-02-16 02:05] sckott commented on #104
Right, that sounds good to me

[2017-02-18 03:13] jhpoelen opened #105 "intermittent api outages with error: Redis is configured to save RDB snapshots, but is currently not able to persist on disk."
As I was updating some fishbase caches using https://github.com/jhpoelen/fishbase_archiver , I found that after a while, the following error message was generated (also see attached screenshot):

"Redis::CommandError at /diet
MISCONF Redis is configured to save RDB snapshots, but is currently not able to persist on disk. Commands that may modify the data set are disabled. Please check Redis logs f

[2017-02-18 04:29] sckott commented on #105
@jhpoelen Seems up to me.

though maybe the `after a while` is the key - what do you mean by that

[2017-02-18 05:15] jhpoelen commented on #105
to reproduce:

[code]

in attached log.txt, you'll see outage starts after https://fishbase.ropensci.org/sealifebase/larvae?offset=0&limit=5000 (see below). After that, visiting https://fishbase.ropensci.org/heartbeat generated the previously shared error message. Also attached screenshot. Hope this helps.
[code]
[log.txt](https://github.com/ropensci/fishbaseapi/files/784791/log.txt)

stderr -
par

[2017-02-20 17:00] sckott commented on #105
thanks - started to look this weekend, not quite there yet

[2017-02-20 19:17] jhpoelen commented on #105
thanks for having a look - where you able to reproduce?

[2017-02-20 23:29] sckott commented on #105
yes, but haven't got around to trying for a fix yet, on the list

[2017-02-21 00:16] jhpoelen commented on #105
ok, good to hear you were able to reproduce. No rush on my end: I was able to work around the issue and produced some archives, see https://github.com/jhpoelen/fishbase_archiver/releases/tag/v0.2.0 .

[2017-03-01 17:13] sckott commented on #105
sorry taking me a while to get to this.

by the way, we only update the fishbase DB like every 6 months or so, so can't you just grab all the data once and cache it?

[2017-03-01 17:43] jhpoelen commented on #105
@sckott no worries about the timing.

The fishbase/sealifebase table data is actually cached using fishbase_archiver to decouple from the fishbase api :  https://github.com/jhpoelen/fishbase_archiver/releases/tag/v0.2.0 . Using the archives leads to a predictable data ingestion process. The archives are now used by GloBI / globalnames to integrate diet/predator data and taxonomic information.

[2017-03-02 16:45] sckott commented on #105
how often do you try to update your cache from this API

[2017-03-02 17:17] jhpoelen commented on #105
Right now, I update manually, whenever necessary. In an ideal world, this caching would be triggered whenever fishbase api gets a new fishbase database dump.

[2017-03-02 23:23] cboettig commented on #105
I think this should be fixed now, can you try again?

[2017-03-03 00:33] sckott opened #107 "listfields and docs seem to be serving old data"
https://fishbase.ropensci.org/docs and https://fishbase.ropensci.org/listfields

when requested headers report a cache hit - im not sure why this is happening - caching should expire after 3600

[2017-03-03 04:00] jhpoelen commented on #105
@cboettig Thanks for responding... I re-ran the archiver and was able to reproduce the issue (see attached screenshot). So, from what I am seeing, the issue (or similar issue) still exists. Please let me know if you need more info.

![fishbaseapirediserror20170302](https://cloud.githubusercontent.com/assets/1084872/23537704/d46b9c2c-ff82-11e6-9851-2085e0e4d287.png)

[2017-03-03 05:16] cboettig commented on #105
@jhpoelen whoops, I I should have re-created the docker container, I had only restarted it.  I think I have persistent disk storage for redis enabled now, can you try once more?

[2017-03-03 17:58] jhpoelen commented on #105
@cboettig it appears that some issues remain. Attached screenshot shows redis error page - this time, the request ```https://fishbase.ropensci.org/morphmet?offset=0&limit=5000``` caused the issue, during a running ```./archive_fishbase``` of [fishbase_archiver](https://github.com/jhpoelen/fishbase_archiver) . Please let me know if you need any more info to reproduce.

![fishbaseapiredis20170303](h

[2017-03-03 18:07] cboettig commented on #105
Interesting.  I can't reproduce so far, at least the above url call works fine for me in the browser.  Progress though, we have a different redis error now.  @sckott any ideas?  Do you think we just need to do something on the API end or some kind of rate limiting step in the Caddy proxy server to give Redis some time reading from disk?   @jhpoelen does this look like a rate-limiting operation to

[2017-03-03 18:28] jhpoelen commented on #105
By reproducing I meant running ```./archive_fishbase.sh```.

The errors I see go away after a while, which explains why hitting a url some time later does not create the same error. From what I can tell, I suspect that there is some caching / cache eviction cycle happening that redis can't keep up with: if a specific cache for a table has been evicted, it takes a while to load it... too long to fu

[2017-03-03 18:57] sckott commented on #105
Looking around for a solution for the redis problem ...

[2017-03-03 19:04] cboettig commented on #105
I took a peek at the redis logs and it looks like we're just pounding the server too hard (a bunch of out-of-memory errors, but also a bunch I don't understand:

[code]

@sckott maybe there's some clue in there for you in debugging the redis issues?

  @jhpoelen can you try rate-limiting your archive script?  Not sure what we can do on our end, maybe we can rate-limit the api or maybe there's twea

[2017-03-03 19:23] ojacobson commented on #105
Gauging from the log output, it might be [this Redis bug](https://github.com/antirez/redis/issues/2857), fixed on redis unstable 11 days ago.

[2017-03-03 19:28] sckott commented on #105
@cboettig let's try upgrading redis (changes on branch `unstable`), there was a recent fix https://github.com/antirez/redis/commit/9b05aafb50348838f45bfddcd689e7d8d1d3c950 for https://github.com/antirez/redis/issues/2883 and https://github.com/antirez/redis/issues/2857  - couldn't hurt to try even if it doesn't fix

[2017-03-10 22:28] sckott opened #108 "a few fixes with most recent deploy w/ new landing page"
- [x] got 500 on `/heartbeat` first try, but none afterwards - look into
- [x] getting 500 `/sealifebase`, but not on `/sealifebase/`
- [x] should have a diff. landing page for sealifebase probably

[2017-03-10 22:35] sckott opened #109 "request to expose estimates table"
via ropensci/rfishbase#115

[2017-03-10 23:42] sckott opened #110 "fix trailing slash sensitivity"
working on it now, will deploy soon

e.g. `/species/1` and `/species/1/` and `/species/1/?` should all be the same request (and look identical to Redis)

[2017-03-10 23:42] sckott commented on #110
via http://stackoverflow.com/a/11927449/1091766

[2017-03-11 00:44] #110 closed

[2017-03-11 01:10] sckott opened #111 "nulldb tests failing"
https://travis-ci.org/ropensci/fishbaseapi/builds/209953609

@EvilScott any guidance on this would be great - can't figure out why it's failing - not much experience with nulldb

[2017-03-11 01:17] MollsReis commented on #111
What was the change that caused the tests to fail?

On Fri, Mar 10, 2017 at 5:10 PM Scott Chamberlain <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2017-03-11 01:25] sckott commented on #111
may have been here https://github.com/ropensci/fishbaseapi/compare/7020d485d939...e128b37d5f12 - updated gem versions - maybe there's some incompatability there

[2017-03-11 22:14] MollsReis commented on #111
I'll try and recreate/fix it this weekend

On Fri, Mar 10, 2017 at 5:25 PM Scott Chamberlain <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2017-03-12 20:52] MollsReis commented on #111
~~After some preliminary testing it looks like it may have more to do with rack::test than nulldb (im getting test failures even when an endpoint doesn't use a db connection). i'll experiment a bit more.~~

Scratch that, just saw this message:
[code]

[2017-03-12 21:13] MollsReis commented on #111
Hrm, I added the following line to `spec_helper.rb`

[code]

This fixes the `AdapterNotSpecified` but the tests still fail. Will poke a little further.

[2017-03-12 21:36] MollsReis commented on #111
fixed the issue, i'll make a pull request and reference it here shortly

[2017-03-12 22:46] sckott commented on #111
fixed in #112

[2017-03-12 22:46] #111 closed

[2017-03-12 23:22] sckott opened #113 "problem with trailing slashes"
@EvilScott regarding #111 and #112 with respect to trailing slashes:

people would often report that when hitting the base url <https://fishbase.ropensci.org> they get a `Forbidden` response - and I think this mostly just happened on the base url

my solution was https://github.com/ropensci/fishbaseapi/blob/master/api.rb#L74-L80 - but as you saw this redirects all routes without query params to sa

[2017-03-13 00:19] MollsReis commented on #113
So the Sinatra routes as they stand now should have an optional trailing
slash (that's the question mark after the route). The root path didn't have
that optional trailing slash, so perhaps that's why it would come up
forbidden.

Your solution is fine; just document that missing trailing slashes will be
redirected as some REST clients need to be instructed to follow redirects.

If you aren't happy

[2017-03-13 16:12] sckott commented on #113
thanks, I'll play around, but i thought even with `/?` people still reported that problem

I like idea of always adding a trailing slash to redis keys - and leaving `/?` for routes

[2017-03-14 17:44] cboettig opened #114 "Improving the docs"
I'm not sure that it was a good idea to put the docs as part of the API (well, I think that still can be useful, but not nearly as useful as having a web form for the docs).  I think we should make sure that all of the tabe descriptions listed in `/docs` are also listed for the corresponding route/table in https://ropensci.github.io/fishbaseapidocs/ , and perhaps more concisely in an HTML table on

[2017-03-14 18:46] sckott commented on #114
good pts.

We can redirect `/docs` to https://ropensci.github.io/fishbaseapidocs/ if you want?

landing page of https://ropensci.github.io/fishbaseapidocs or of fishbase.ropensci.org ?

[2017-03-16 18:00] sckott opened #115 "favicon is on http url, change to https"
or get rid of it

[2017-04-04 04:46] cboettig commented on #104
Related to this, wonder if we could provide some sort of diff indicating what has changed in the FishBase database with subsequent updates.

[2017-04-04 17:43] sckott commented on #104
We can certainly try

hmm, but sealifebase is requested via a path component

Wonder if we should toggle versions with a header - as the Github API does - that way if no header for version is passed the user gets the current version with latest data. Clients like rfishbase though can make the user interface look like a parameter and internally pass the appropriate header. thoughts?

There's the is

[2017-04-04 18:40] cboettig commented on #104
Putting the version in the header seems really elegant to me, particularly if that's a common pattern for this kind of thing in APIs.  (I've never been super pleased with APIs doing that through the URL).

A separate question I suppose is that it would probably be cleaner to put `sealifebase` on a separate subdomain on the same server rather than serving it off a separate path, but not really a pr

[2017-04-04 21:46] sckott commented on #104
Agree, that would be nice, and if we do any other APIs we could just add new subdomains for those

[2017-04-28 17:22] sckott opened #116 "add additional tables to API"
list from fishbase folks

[2017-04-28 17:22] sckott opened #117 "add feature flag for toggling redis on/off"

[2017-04-28 17:27] #116 closed

[2017-04-28 17:27] #117 closed

[2017-04-28 17:32] #115 closed

[2017-04-28 17:32] sckott commented on #92
see if this is gone in new database version

[2017-04-28 23:01] sckott commented on #104
Working on this now - will push up a new branch soon, getting database version loaded on server cc @cboettig

[2017-06-19 17:41] cboettig opened #118 "option for pretty json?"
@sckott What do you think about having an option for pretty json returns?  Often I find it's convenient to check something quickly by just entering the rest call in the browser, but of course the dense JSON return is hard to read.

Obviously eliminating whitespace makes sense for a programmatic interface, but maybe there could be an option for pretty=true in the REST call?  (Or default to pretty=T

[2017-06-19 17:52] sckott commented on #118
hmm, not sure how to do it in an API - can look into it.

In chrome and firefox I use pretty JSON extensions https://addons.mozilla.org/en-US/firefox/addon/jsonview/  https://chrome.google.com/webstore/detail/jsonview/chklaanhfefbnpoihckbnefhakgolnmc - But I guess it's kinda unwieldy to tell everyone to install those. I know at least Brave browser didn't have a JSON extension last time I checked.

[2017-06-19 19:02] cboettig commented on #118
good point, probably sufficient to leave this to browser-side add-ons.  Can't think of an example of an API that had such an option anyway.

[2017-06-19 19:02] #118 closed

[2017-06-19 19:13] sckott commented on #118
for command line pretty-ness - jq is a good option - `curl 'https://fishbase.ropensci.org/faoarref/2/' | jq .`

[2017-08-22 14:38] sckott opened #119 "Add to return metadata: database version/date we got it"
so users can easily tell what database version they're using

[2017-09-06 19:47] sckott opened #120 "fix unexpected 403s"
https://stackoverflow.com/questions/10509774/sinatra-and-rack-protection-setting/16125324#16125324

[2017-11-15 01:28] #119 closed

[2017-11-15 01:28] sckott commented on #104
@cboettig this is live now, let me know if you find any problems

[2017-12-08 18:17] fagnerabsynth opened #121 "Download SQL FILE"
Hi,

I'm trying to do a sql dump to implement and translate to my language and append to a mobile project.

But every time return returns:
Can not connect to MySQL server on " Your IP", the server must be off.

Is there any other way to get the dump?

or I have to do the one-by-one registry as per the query in my App.

If anyone can help me, I appreciate it.

Thank you!

[2017-12-08 18:19] sckott commented on #121
What did you do that generated that error?  Do you want a dump of the entire database? If so, we can not do that.

[2017-12-08 18:25] fagnerabsynth commented on #121
When I use import.sh this error appears.

[2017-12-08 18:26] sckott commented on #121
Apologies. that's only meant for us to import dumps of the fishbase database on our server.

[2017-12-08 18:28] fagnerabsynth commented on #121
ok,

Thank you!

[2017-12-08 18:29] sckott commented on #121
thanks for your interest.

[2017-12-08 18:29] #121 closed

[2017-12-23 04:14] sckott commented on #101
by default

so i think that's good, closing

[2017-12-23 04:14] #101 closed

[2017-12-23 05:06] sckott commented on #105
i assume this is sorted now

[2017-12-23 05:06] #105 closed

[2017-12-23 05:20] sckott opened #122 "dont cache some routes"
I thought already `/heartbeat` wasn't cached but it is. don't cache:

- `/`
- `/heartbeat`
- `/versions`
- `/docs`
- `/mysqlping`

[2017-12-23 06:14] sckott commented on #122
still not fixed

[2017-12-23 17:05] sckott opened #123 "return version in response body?"
so like

[code]

[2018-01-16 19:25] sckott opened #124 "Fishbase license/copyright"
- [ ] copy/paste their copyright and/or license info on the fishbaseapi docs - and in R pkg docs
- [ ] Rainer says they expect commercial users to pay a modest fee - asking about how we can help make sure that happens
- [ ] should it be returned in a field in the API responses?

cc @cboettig

[2018-01-16 20:10] cboettig commented on #124
Good questions.  Have you seen any other APIs that have similar issues?  How do they address this?

I'm guessing it doesn't make sense to make that a field for every API response (since API responses are generally meant to be read by computers not people; this would seem to add clutter without really making these terms any more visible), though maybe there should be a dedicated API endpoint to dis

[2018-01-16 22:14] sckott commented on #124
I imagine most APIs would do this through API keys - that way they can vary rate limits for different tyeps of users.

Right, agree doesn't make sense to return terms in the API response - also agree could do a separate route for that.

[2018-01-16 22:26] cboettig commented on #124
right, though I don't suppose FishBase expects us to switch to a full-blown registration model where we verify commercial vs educational/research use and give out API keys?  Fishbase license is basically CC-BY-NC right, so commercial use is not covered by that license and would be subject to a charge of copyright infringement?  Then presumably it is sufficient from our end to just make it clear th

[2018-01-16 22:30] sckott commented on #124
I don't know, have asked them that - will loop you in on the email.

Seems reasonable. I've asked for details of how we should direct commercial users

[2018-01-17 22:18] sckott commented on #124
Rainer says to "ask commercial users to contact FishBase, e.g. through the "Comments & corrections" link at the bottom of the FishBase search page."

this link: http://www.fishbase.us/mail/MailForm.php

[2018-01-17 22:23] cboettig commented on #124
Nice, that looks like a perfectly good system.  We should just make it clear that Fishbase API is free for non-commercial use with attribution as defined by the terms of CC-BY-NC license, an that commercial users should first inquire at that address.  I imagine most commercial users would rather  get permission than open themselves up to liability for copyright infringement, and we don't have to d

[2018-01-18 01:15] sckott commented on #124
Will do, and will open an issue in rfishbase repo to add to docs there

[2018-01-18 17:42] sckott commented on #124
added info to the landing pages for the API - restarting API

[2018-01-19 17:20] sckott opened #125 "backup logs"
probably s3 via a cron job

[2018-04-12 22:46] sckott opened #126 "switch from Unicorn to Puma server"
https://github.com/puma/puma

[2018-05-18 23:47] sckott opened #127 "json_csrf fix"
`set :protection, :except => [:json_csrf]`

[2018-05-18 23:51] #127 closed

[2018-12-30 05:39] jmtatsch opened #128 "Service down?"
I am unable to get a heartbeat

[code]

Is the service down or am I doing something wrong?

[2018-12-30 16:59] sckott commented on #128
Yes, the API is down. The been using a server with really awful downtime which we can't control. Will soon move to AWS or similar for 100% uptimel

[2018-12-30 19:17] jmtatsch commented on #128
Awesome. Thanks for offering that service.

[2019-01-14 16:46] jmtatsch commented on #128
Where could I obtain a recent fish base dump until the service gets restored?

[2019-01-14 16:50] sckott commented on #128
it's back up!

[2019-01-14 16:50] #128 closed

[2019-02-20 19:58] sckott commented on #113
sorted now

[2019-02-20 19:58] #113 closed

[2019-02-20 19:59] sckott opened #129 "add route: /taxa/:id"
via feedback on readme.io docs

[2019-02-20 20:12] sckott opened #130 "API failing when headers passed w/o passing vnd version header"
[code]

[2019-02-20 20:13] sckott opened #131 "Update readme.io docs"
including https://fishbaseapi.readme.io/docs/getting-started metadata

and routes

[2019-02-21 17:08] sckott commented on #129
https://fishbaseapi.readme.io/v1.0/discuss/5c6da6a288b4960045af003e

[2019-03-27 09:02] frmichel commented on #129
Hi @sckott, just wondering if you had time to think about this issue, and if there is any planned date when the service could be implemented?

Thx,
   Franck.

[2019-04-03 18:54] sckott commented on #129
Thanks for the bump @frmichel hopefully soonish. do you plan to use the API directly or through the rfishbase pkg? if the latter, we'd need to implement it there as well

[2019-04-04 09:40] frmichel commented on #129
Hi @sckott, we use the API directly, not the pkg.

[2019-04-04 09:54] frmichel opened #132 "Undocumented parameters in service synonyms?"
Hi all,

According to the [documentation](https://fishbaseapi.readme.io/docs/synonyms), the `synonyms` service returns all synonyms at once, whihin a range set by offset and limit.

Yet, we found out that it can be queried with parameters, e.g.:
- querying this service with a `SynCode` seems to return information about exactly one synonym (e.g. https://fishbase.ropensci.org/synonyms?synCode=25357)

[2019-04-04 09:55] frmichel commented on #132
Note that at the time of writing the 'Try it out' option on https://fishbaseapi.readme.io/docs/synonyms returns an error 500 (see https://fishbaseapi.readme.io/v1.0/discuss/5ca5d0c520af39005c7cc328).

[2019-04-04 15:49] cboettig commented on #129
@frmichel Thanks for the ping here.  Can you give us a little more context on your use case(s)?

You can already get all the taxon ids in the R package by doing something like `rfishbase::species()` (or `rfishbase::load_taxa()` for the full taxonomy).  If you are trying to avoid R, you can also just get these tables directly, e.g. from the official archive: https://doi.org/10.5281/zenodo.1421047

[2019-04-04 20:02] sckott commented on #132
i think try it out is working now, try it again and let me know

[2019-04-04 20:11] sckott commented on #132
you're correct that it's a lack of documentation. we allow queries on any of the keys in the json response, I think for all routes except `/taxa` perhaps.

I've updated the docs just for this route: https://fishbaseapi.readme.io/v1.0/docs/synonyms Thoughts on that? If that's clear enough I'll add it to the rest of the routes as applicable.

We have no plans of changing this ability to query on any

[2019-04-04 20:11] sckott commented on #129
thanks @frmichel

[2019-04-04 21:16] sckott commented on #129
@frmichel route added, try it out https://fishbaseapi.readme.io/v1.0/docs/taxa-by-id

[2019-04-04 21:17] #129 closed

[2019-04-04 23:33] frmichel commented on #132
Hi @sckott, thx for the documentation update, that's pretty clear I guess, and definitely handy ;)

[2019-04-04 23:48] frmichel commented on #129
Excellent! Thank you guys, that will be very helpful.

@cboettig, we are currently working ona solution to compare the information in TAXREF, the French taxonomic register, with other data sources such as FishBase, GBIF, WoRMS, Index Fungorum etc. For now, the comparison pertains to taxonomy, synonyms, classification and habitats. Later, we intend to extend this to traits with EoL etc.

To do so,

[2019-04-05 21:15] sckott commented on #132
okay, thanks. I'll fill out the rest of the documentation soon

[2019-04-07 02:58] cboettig commented on #129
Thanks @frmichel that sounds very cool indeed!  I'll take a look at the demo too

[2019-05-08 19:12] fbsut1 opened #133 "Egg tables"
I can't find Egg or EggDevelopment tables through commands (https://www.fishbase.in/manual/english/FishBaseThe_EGGS_Table.htm
https://www.fishbase.in/manual/english/FishBaseThe_eggdev_Table.htm)
I'm looking for egg diameter and a few other egg characteristics.
Thanks!

[2019-05-08 19:18] sckott commented on #133
are you trying to get data from the Fishbase website or from the API?

[2019-05-08 19:18] sckott commented on #133
for the API try https://fishbase.ropensci.org/eggs/

[2019-05-09 15:53] fbsut1 commented on #133
Thanks. Apologies for novice question, but how can I get egg data for a subset of species (i.e. all the species in a single family). I can't figure out how to specify species of interest with API. (Or is there a function in Rfishbase that corresponds to Egg Table?)

[2019-05-09 21:50] cboettig commented on #133
@fbsut1 Looks like the `eggs` table isn't exposed in the `rfishbase` function list, but you can easily create the endpoint manually; e.g.

[code]

[2019-05-09 23:34] fbsut1 commented on #133
Thanks!

[2019-05-09 23:34] #133 closed

[2019-05-31 18:45] #104 closed

[2019-05-31 18:45] #69 closed

[2019-05-31 19:20] sckott commented on #59
see also https://fishbaseapi.readme.io/v1.0/discuss/5ceeefef9dd565022c894dbf

[2019-05-31 23:20] sckott commented on #59
Added fuzzy search for the `/taxa` route only, for only the params genus and species

[2019-05-31 23:39] sckott commented on #132
docs updated

[2019-05-31 23:39] #132 closed

[2019-05-31 23:42] sckott commented on #130
works fine, i think i just didn't uncompress correctly

[2019-05-31 23:42] #130 closed

[2019-06-01 20:06] sckott commented on #54
e.g, for sealifebase https://www.sealifebase.ca/images/species/Ocaba_u0.gif

[2019-06-03 19:36] #54 closed

[2019-06-03 19:36] #70 closed

[2019-07-29 18:02] aengl opened #134 "status 500 for `/species?limit=10`"
BACKTRACE:
[code]

Variable | Value
-- | --
HTTP_ACCEPT_ENCODING | gzip, deflate
HTTP_CONNECTION | close
HTTP_HOST | fishbase.ropensci.org
HTTP_USER_AGENT | got/9.6.0 (https://github.com/sindresorhus/got)
HTTP_VERSION | HTTP/1.1
HTTP_X_FORWARDED_FOR | 14.207.69.144
HTTP_X_FORWARDED_PROTO | https
HTTP_X_REAL_IP | 14.207.69.144
PATH_INFO | /species
QUERY_STRING | limit=10
REMOTE_ADDR | 172.17.0.1
RE

[2019-07-29 18:15] sckott commented on #134
Please share the complete request you performed that caused the error. Including complete url and request headers

[2019-07-29 18:31] aengl commented on #134
Using
[code]
prints
[code]

[2019-07-29 18:32] aengl commented on #134
The error is caused by the request not accepting a JSON response it would seem. I can of course resolve that on my end, but the 500 is probably not intentional 😃

[2019-07-29 18:44] sckott commented on #134
Thx, those are response headers, what do request headers look like.

It looks like we're failiing where we look for the users Accept header but if it's nil, then we fail.

[2019-07-29 18:49] aengl commented on #134
Ah, apologies. The request headers are simply:
[code]

[2019-07-29 19:12] sckott commented on #134
thx, it's the empty `Accept` header that I didn't account for, fixing it now

[2019-07-29 19:23] #134 closed

[2019-07-29 19:32] sckott commented on #134
we're back up, try it again, should work now

[2019-07-30 08:38] aengl commented on #134
Yes, can confirm that it works now. Thank you for the swift fix! 👍

[2020-04-17 17:07] leipzig opened #139 "accessing identification keys in the api"
Thanks for developing this API. I am working with BGNN, an NSF-funded project to develop neural networks for automated fish morphology. I would like to access the identification keys [https://www.fishbase.se/keys/allkeys.php](https://www.fishbase.se/keys/allkeys.php) that are in FishBase as structured data. I would like to be able to transform these from a "wizard-type" dialog to a feature table.

[2020-04-17 18:45] sckott commented on #139
Thanks for your message.

Yes, we do have that data in a table in the database dumps.  @cboettig do you think we need to ask Fishbase if we can expose that or should we just do it?

not sure i follow. what is "wizard type"?

[2020-04-17 23:25] cboettig commented on #139
Thanks @leipzig .   You can find tables exported from the SQL as flat csv files here: https://github.com/ropensci/rfishbase/releases .  As you probably know, they aren't particularly transparent / well-organized; in particular, you will find different capitalization for some id/key columns (`SpecCode` vs `Speccode`).  Still, this situation with the FishBase dumps is of course very understandable i

[2020-04-18 00:34] leipzig commented on #139
By “wizard” I mean the Fishbase identification keys are meant to be followed by people trying to identify fish using a wizard ui process. E.g a “1. scaly-backed, go to step 5. 5. If more than 10cm go to step 8”. Obviously, this won’t work for machine learning. I’ll check out the release. Thanks for your quick responses!

[2020-04-18 00:34] #139 closed

[2021-01-11 21:14] mackelito opened #141 "Add documentation to fields"
There are fields like "Expert: 42," what does that mean?
To make it easier to understand the api responses I think some additional documentation would be helpful :)

[2021-01-11 22:21] sckott commented on #141
Thanks @mackelito for the issue.

We just serve the data over the API, we are not affiliated with Fishbase in any way - I don't know of any place to get details on each of the fields returned by any given database table - it may be somewhere, but we don't know where that is.

We do have docs routes https://fishbase.ropensci.org/docs/ e.g., https://fishbase.ropensci.org/docs/ecology/  Those could h

[2021-01-14 17:13] adityakrshnn opened #142 "[Question] Is there any way to detect compatibility between fishes?"
I was wondering if some field could indicate the fish's behaviour towards other types of fishes. Is there some endpoint that would give this info?

[2021-01-14 17:43] sckott commented on #142
Thanks for your question. Unfortunately I don't know anything off the top that I know of - but i'm not super familiar with all variables anyway as we just provide the data (we aren't fish people, not affiliated with fishbase).

I'd suggest looking around on the https://www.fishbase.de/ website - find some variable you'd like to use - let us know and we'll see if we have it here in the API

[2021-01-14 17:57] adityakrshnn commented on #142
Oh. I didn't find any such info on Fishbase as well. Closing this for now.

[2021-01-14 17:57] #142 closed

[2021-01-14 19:08] sckott commented on #142
Is this the kind of thing you're looking for?

https://www.fishbase.de/summary/Parachromis-dovii.html

Find that species with /species route

https://fishbase.ropensci.org/species/?Genus=Parachromis&Species=dovii

Then find that life cycle info in the /reproduc route given that species code

https://fishbase.ropensci.org/reproduc/?SpecCode=6413

[2021-01-14 19:44] adityakrshnn commented on #142
While this is very helpful, I was actually looking for info on aquarium compatibility. Something like Cichlids are aggressive and territorial and hence would not be a suitable tank mate for Koi and other Carps. However, Cichlids do well with Loaches, Catfish and Tetras. Something to that extent.

[2021-01-14 19:48] sckott commented on #142
Hmm, ive no idea.

I found those links above by googling fishbase and various terms. You might try that since fishbase is indexed by google/etc. so you might be able to find something useful. Maybe you've already tried that though

[2021-03-02 19:34] sckott opened #144 "update gem versions -"
including redis, `redis#exists` in future version going to return integer, change to `redis#exists?`

[2021-03-02 19:35] #144 closed

[2021-03-02 19:35] #141 closed

[2021-09-15 15:25] alessandro-russo opened #145 "502 Bad Gateway"
Hi all,

as also reported [here](https://fishbaseapi.readme.io/v1.0/discuss/61014453601bfe001c6fd897) by others, since weeks any attempt to access the API results in a `502 Bad Gateway` response from the server.

I hope this is a temporary issue and that the API is still maintained!

Thanks!!!

[2021-11-02 19:14] eeeggg commented on #145
Hi @sckott sorry to bug you but I noted your responses to other issues for this project in the past and I figured I'd mention you directly to see if you had an estimate as to when the API would be back online.

Anything I can do to help get it back up and running?

[2021-11-02 19:31] sckott commented on #145
@eeeggg Sorry, but i've changed jobs and this API is no longer something I work on. @cboettig is the one to ask, but I'm guessing he's not interested in getting it back up

if Carl's not interested, someone else may want to maintain the API - can get you in touch with Fishbase if you or others want to do it

[2021-11-02 22:03] eeeggg commented on #145
@sckott @cboettig I'm totally willing to take on this API. I've already been in contact with Q-Quatics/FishBase over the last several months and I believe they want it up as badly as I do... so who do I talk to about supporting this project? rOpenSci?

[2021-11-03 15:51] sckott commented on #145
@eeeggg email me at sckott@fastmail.com and then I'll email the fishbase folks and then we can take it from there.

[2021-11-24 09:59] alessandro-russo commented on #145
Thanks @eeeggg and @sckott for clarifying the situation!

@eeeggg: if you need any help with your plan of taking over the API, I'll be happy to contribute!

[2022-01-26 12:41] TomBell95 commented on #145
Hi guys - Is there any update as to whether this API will be back up? Thanks

[2022-01-26 16:36] sckott commented on #145
It was decided it wouldn't come back online. I believe (@cboettig correct me if i'm wrong) that the flat file approach will still be available moving forward - see https://github.com/ropensci/rfishbase/releases

[2022-01-26 16:47] cboettig commented on #145
What we could do though is host the flat files from the old endpoints, rather than serving JSON responses you'd get the full table as (compressed) csv, but since most tables are less than one MB it wouldn't increase latency I think.

[2022-01-26 16:49] TomBell95 commented on #145
That would be great if possible? Thanks for the quick responses guys!

[2022-02-19 12:46] cltj opened #146 "REnew SSL licence?"
Getting this when trying to access the api (all calls):

Error: write EPROTO 139909459205448:error:14094438:SSL routines:ssl3_read_bytes:tlsv1 alert internal error:../deps/openssl/openssl/ssl/record/rec_layer_s3.c:1544:SSL alert number 80

[2022-02-19 14:07] alessandro-russo commented on #146
Hi @cltj, as of today the API is no longer actively maintaned (see #145 and in particular [here](https://github.com/ropensci/fishbaseapi/issues/145#issuecomment-1022376716)).

[2022-02-28 02:18] jannmacutay commented on #145
Thanks for this info. Been waiting for this. Too sad the API is no longer available.

[2022-05-27 21:50] ccaspanello opened #149 "Where can we download the fbapp.sql file"
I've been looking around FishBase and can't find the link; would you guys happen to know? Perhaps providing download instructions in the ReadMe

[2022-06-30 10:31] rbasdfgit commented on #145
1) Is there any news about the API?
2) Are these the tables/the latest data from where one can pick ? https://github.com/ropensci/rfishbase/releases

[2022-06-30 21:14] cboettig commented on #145
Thanks for the ping, slowly reviving things here.

There's now a static API, e.g. https://fishbase.ropensci.org/fishbase/ and https://fishbase.ropensci.org/sealifebase/ respectively will give you a list of currently available tables, as parquet data files.  You can access any individual table directly:

https://fishbase.ropensci.org/fishbase/abundance.parquet

There is no longer a dedicated server

[2022-07-12 19:54] Quis-Eric opened #151 "What tables do I need for basic aquarium information?"
For example
https://www.fishbase.se/Summary/SpeciesSummary.php?id=271&lang=english

most of the info I'm looking for can be found in the Environment section

"Freshwater; brackish; benthopelagic; pH range: 6.0 - 8.0; dH range: 5 - 19; potamodromous (Ref. 51243); depth range 0 - 20 m (Ref. 6898). Subtropical; 0°C - 41°C (Ref. 35682); 53°N - 22°N"

some of this info is found in the species table, bu

[2022-09-08 15:51] gerhardvr26 opened #152 "API calls return a 403 error"
All API calls return a 403 error. I even tested from https://fishbaseapi.readme.io/reference/comnames by clicking on the Try it button just to make sure I'm not doing anything wrong.

[2022-11-06 15:50] satan87 commented on #152
I got the same issue. Can anyone please look at it?

[2022-11-06 19:51] cboettig commented on #152
Thanks, the API has migrated to S3, see updated readme: https://github.com/ropensci/fishbaseapi/blob/master/README.md

[2022-11-06 19:51] #152 closed

[2022-11-06 19:52] cboettig commented on #151
The API has migrated to S3, see https://github.com/ropensci/fishbaseapi/blob/master/README.md

[2022-11-06 19:52] #151 closed

[2022-11-06 19:52] cboettig commented on #146
The API has migrated to S3, see https://github.com/ropensci/fishbaseapi/blob/master/README.md

[2022-11-06 19:52] #146 closed

[2022-11-06 19:52] cboettig commented on #149
The API has migrated to S3, in parquet format.  SQL dump is not publicly distributed.

[2022-11-06 19:52] #149 closed

[2022-11-06 19:53] cboettig commented on #149
see README updates https://github.com/ropensci/fishbaseapi/blob/master/README.md

[2022-11-06 19:53] cboettig commented on #145
The API has migrated to S3, see https://github.com/ropensci/fishbaseapi/blob/master/README.md

[2022-11-06 19:53] #145 closed

[2022-11-06 19:53] cboettig commented on #109
all tables are available on S3 API

[2022-11-06 19:53] #109 closed

[2022-11-06 19:54] #64 closed

[2022-11-06 19:54] cboettig commented on #64
no longer relevant, API is now handled by MINIO with excellent tests, performance and security.

[2022-11-06 19:55] #10 closed

[2022-11-06 19:55] #126 closed

[2022-11-06 19:55] #125 closed

[2022-11-06 19:56] cboettig commented on #125
MINIO can log access but we're not collecting monitoring statistics on users without knowledge and consent

[2022-11-06 19:56] #122 closed

[2022-11-06 19:56] #120 closed

[2022-11-06 19:57] #108 closed

[2022-11-06 19:57] #44 closed

[2022-11-06 19:57] #77 closed